<template>
  <!-- Main content -->
  <section class="content" v-loading="loading">
    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <br />
        <!-- <el-button size="small" type="primary" @click="handleCreate()" icon="el-icon-edit">Add New</el-button> -->
      </div>
      <div class="box-body">
        <el-table :data="approve" border style="width: 100%">
          <el-table-column label="No" width="50">
            <template slot-scope="scope">{{(list.page-1)*list.limit + scope.$index+1}}</template>
          </el-table-column>

          <el-table-column label="Kode Pengabdian" min-width="180">
            <template slot-scope="{row}">{{row.kode_pengabdian}}</template>
          </el-table-column>

          <el-table-column label="Prodi" min-width="180">
            <template slot-scope="{row}">{{row.nama_prodi}}</template>
          </el-table-column>

          <el-table-column label="Tahun" width="180">
            <template slot-scope="{row}">{{row.tahun}}</template>
          </el-table-column>

          <el-table-column label="Nama Dosen" min-width="180">
            <template slot-scope="{row}">{{row.name}}</template>
          </el-table-column>

          <el-table-column label="Aksi" width="180">
            <template slot-scope="{row}">
              <router-link :to="{ name: 'view_pengajuan', params: {id: row.id} }">
                <el-button type="primary" size="mini" icon="el-icon-view">View</el-button>
              </router-link>
              <!-- <el-button size="small" type="warning" @click="handleUpdate(row)">Edit</el-button>
              <el-button size="small" type="danger" @click="handleDelete(row.id)">Delete</el-button>-->
            </template>
          </el-table-column>
        </el-table>

        <pagination
          :total="list.total"
          :page.sync="list.page"
          :limit.sync="list.limit"
          @pagination="getTable"
        />
      </div>
      <!-- /.box-body -->
      <!-- <div class="box-footer">Footer</div> -->
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content-wrapper -->
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  created() {
    this.getTable();
  },
  data() {
    return {
      dialogVisible: false,
      deleteFormVisible: false,
      loading: true,
      dialogStatus: "",
      temp: {
        id: "",
        dana: "",
        bobot: 0
      },
      list: {
        status: "SUBMITED",
        user: 1,
        role: 0,
        page: 1,
        limit: 5,
        total: 0
      },
      approval: ""
    };
  },
  computed: {
    ...mapState("approve", {
      approve: state => state.approves
    })
  },
  methods: {
    ...mapActions("approve", ["getApprove"]),

    getTable() {
      this.loading = true;
      this.list.role = this.$store.state.auth.role;
      this.getApprove(this.list).then(result => {
        this.list = {
          page: result.current_page,
          limit: parseInt(result.per_page),
          total: result.total
        };
        this.loading = false;
      });
    }
  }
};
</script>

<style>
.el-form-item {
  margin-bottom: 10px !important;
}
.el-form-item__label {
  padding: 0px !important;
}
</style>
