<template>
  <section class="content">
    <div class="box">
      <button @click="downloadPDF()">Download</button>
    </div>
    <div id="pdf1">
      <h1 style="color:red">TEEEEEESSSSTTT</h1>
    </div>
    <div id="pdf2">
      <h1 style="color:blue">TEEEEEESSSSTTT</h1>
    </div>
  </section>
</template>

<script>
import jsPDF from "jspdf";
export default {
  methods: {
    downloadPDF() {
      var doc = new jsPDF();

      doc.fromHTML(document.getElementById("pdf1"), 10, 1);
      //   doc.text("Hello world! Potrait", 1, 1);
      doc.addPage("a4", "lanscape");
      doc.fromHTML(document.getElementById("pdf2"), 10, 1);
      //   doc.text("Hello world! Lanscape", 1, 1);
      doc.save("a4.pdf");
    }
  }
};
</script>
