<template>
  <section class="content">
    <div class="box">
      <h3
        style="font-weight:bold;text-decoration: underline;"
        align="center"
        ref="surattugas"
      >SURAT TUGAS</h3>
      <h4 align="center" ref="nosurat">No :032/ST-ABD/LP2M-ITI/VIII/2019</h4>
      <table id="testTable" ref="content">
        <tbody>
          <tr>
            <td valign="top">Pertimbangan</td>
            <td valign="top">:</td>
            <td align="justify">
              Bahwa dalam rangka melaksanakan Kegiatan Pengabdian kepada Masyarakat Dosen
              <span
                style="background-color:red"
              >Informatika</span> Institut Teknologi Indonesia
              <span
                style="background-color:red"
              >Semester Genap 2018/2019</span> ,maka dengan ini perlu dikeluarkan surat tugas
            </td>
          </tr>
          <tr>
            <td colspan="3"></td>
          </tr>
          <tr>
            <td>Dasar</td>
            <td>:</td>
            <td>1. Kepentingan ITI</td>
          </tr>
          <tr>
            <td
              colspan="3"
              height="50px"
              style="text-align:center;font-weight:bold;vertical-align: middle;"
            >
              <br />
              <h4 style="font-weight:bold">D I T U G A S K A N</h4>
              <br />
            </td>
          </tr>
          <tr>
            <td valign="top">Kepada</td>
            <td valign="top">:</td>
            <td align="justify">
              1. Dosen Prodi
              <span style="background-color:red">Informatika</span> (Terlampir)
            </td>
          </tr>
          <tr>
            <td valign="top">Untuk</td>
            <td valign="top">:</td>
            <td>
              1. Melaksanakan Kegiatan Pengabdian kepada Masyarakat pada
              <span
                style="background-color:red"
              >Semester Genap Tahun Akademik 2018-2019</span>
              <br />2. Melaporkan hasil tugas kepada Direktur LP2M-ITI.
              <br />3. Dilaksanakan dengan penuh rasa tanggung jawab.
              <br />
              <!-- <p>
                    1. Melaksanakan Kegiatan Pengabdian kepada Masyarakat pada
                    <span
                      style="background-color:red"
                    >Semester Genap Tahun Akademik 2018-2019</span>
                  </p>
                  <p>2. Melaporkan hasil tugas kepada Direktur LP2M-ITI.</p>
              <p>3. Dilaksanakan dengan penuh rasa tanggung jawab.</p>-->
            </td>
          </tr>
        </tbody>
      </table>
      <button id="savePdf" @click="downloadPDF()">EXPORT</button>
    </div>
  </section>
</template>

<script>
import jsPDF from "jspdf";
import "jspdf-autotable";
// import html2canvas from "html2canvas";
// import * as jsPDF from "jspdf";

export default {
  methods: {
    downloadPDF() {
      // var doc = new jsPDF();
      // doc.fromHTML(document.getElementById("pdf1"));
      // doc.fromHTML(document.getElementById("table"));
      // doc.addPage("a4", "lanscape");
      // doc.autoTable({
      //   columnStyles: { europe: { halign: "center" } }, // European countries centered
      //   body: [
      //     { europe: "Sweden", america: "Canada", asia: "China" },
      //     { europe: "Norway", america: "Mexico", asia: "Japan" }
      //   ],
      //   columns: [
      //     { header: "Europe", dataKey: "europe" },
      //     { header: "Asia", dataKey: "asia" }
      //   ]
      // });
      // // doc.autoTable({ html: "#pdf2" });
      // //   doc.fromHTML(document.getElementById("pdf2"), 10, 1);
      // //   doc.text("Hello world! Lanscape", 1, 1);
      // doc.save("a4.pdf");
      var img = new Image();
      img.src = require("../../../../public/img/kop-surat.jpg");

      var elem = document.getElementById("testTable");
      var doc = new jsPDF("p", "pt", "a4");
      var width = doc.internal.pageSize.getWidth();
      var height = doc.internal.pageSize.getHeight();
      doc.addImage(img, "jpeg", 0, 0, width, 100);
      //surat tugas
      //   doc.fromHTML(this.$refs.surattugas, width / 2, 110, { align: "center" });
      //   doc.fromHTML(this.$refs.nosurat, width / 2, 140, { align: "center" });
      doc.text(width / 2, 120, "SURAT TUGAS", { align: "center" });
      const noSurat = "No :032/ST-ABD/LP2M-ITI/VIII/2019";
      doc.text(width / 2, 140, noSurat, {
        align: "center"
      });
      doc.autoTable({
        html: elem,
        theme: "plain",
        useCss: true,
        margin: { top: 150, horizontal: 40, bottom: 60 },
        styles: {
          cellPadding: 3,
          minCellHeight: 10,
          //   fillStyle: "S",
          //   halign: "center",
          valign: "center",
          //   fontStyle: "bold",
          //   lineWidth: 0.01,
          fontSize: 12,
          textColor: 0
        },
        // tableLineColor: [189, 195, 199],
        // tableLineWidth: 0.75,
        // startY: 60,
        // theme: "plain",
        // startY: num,
        columnStyles: {
          0: { cellWidth: doc.internal.pageSize.getWidth() * 0.2 },
          1: { cellWidth: doc.internal.pageSize.getWidth() * 0.05 },
          2: { cellWidth: doc.internal.pageSize.getWidth() * 0.6 }
          //   3: { cellWidth: "wrap" },
          //   4: { cellWidth: "wrap" },
          //   5: { cellWidth: "wrap" }
        }
      });
      doc.addPage("a4", "lanscape");
      //   doc.autoTable({
      //     html: elem,
      //     theme: "plain",
      //     styles: {
      //       cellPadding: 0,
      //       minCellHeight: 10,
      //       //   fillStyle: "S",
      //       halign: "center",
      //       valign: "center",
      //       //   fontStyle: "bold",
      //       //   lineWidth: 0.01,
      //       fontSize: 12,
      //       textColor: 0
      //     }
      //     // tableLineColor: [189, 195, 199],
      //     // tableLineWidth: 0.75,
      //     // startY: 60,
      //     // theme: "plain",
      //     // startY: num,
      //     // margin: { top: 70, horizontal: 40, bottom: 60 },
      //     // columnStyles: {
      //     //   0: { cellWidth: 50 },
      //     //   1: { cellWidth: "wrap" },
      //     //   2: { cellWidth: "wrap" },
      //     //   3: { cellWidth: "wrap" },
      //     //   4: { cellWidth: "wrap" },
      //     //   5: { cellWidth: "wrap" }
      //     // }
      //   });

      doc.save("Test.pdf");
    }
  }
};
</script>

<style>
.surat-pengesahan {
  padding: 10px 5px 10px 5px;
}
</style>
