<template>
  <!-- Main content -->
  <section class="content" v-loading="loading.component">
    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <br />
        <el-row>
          <el-col :span="8">
            <el-button
              size="small"
              type="primary"
              @click="handleCreate()"
              icon="el-icon-edit"
            >Add New</el-button>
          </el-col>
          <el-col :span="16">
            <el-input type="text" placeholder="search from nidn or name" v-model="search" />
            <!-- <el-button
              size="small"
              type="primary"
              @click="handleCreate()"
              icon="el-icon-edit"
            >Add New</el-button>-->
          </el-col>
        </el-row>
      </div>
      <div class="box-body">
        <el-table
          :data="mahasiswa"
          border
          style="width: 100%"
          empty-text="No Data"
          v-loading="loading.table"
        >
          <el-table-column label="No" width="50">
            <template slot-scope="scope">{{(list.page-1)*list.limit + scope.$index+1}}</template>
          </el-table-column>

          <el-table-column label="NRP" width="100">
            <template slot-scope="{row}">{{row.nrp}}</template>
          </el-table-column>

          <el-table-column label="Jurusan" width="100">
            <template slot-scope="{row}">{{row.nama_prodi}}</template>
          </el-table-column>

          <el-table-column label="Nama" min-width="200">
            <template slot-scope="{row}">{{row.name}}</template>
          </el-table-column>

          <el-table-column label="Email" min-width="100">
            <template slot-scope="{row}">{{row.email}}</template>
          </el-table-column>

          <el-table-column label="Telp" min-width="100">
            <template slot-scope="{row}">{{row.telp}}</template>
          </el-table-column>

          <el-table-column label="Alamat" min-width="200">
            <template slot-scope="{row}">{{row.alamat}}</template>
          </el-table-column>

          <el-table-column label="Aksi" width="180">
            <template slot-scope="{row}">
              <el-button size="small" type="warning" @click="handleUpdate(row)">Edit</el-button>
              <el-button size="small" type="danger" @click="handleDelete(row.id)">Delete</el-button>
            </template>
          </el-table-column>
        </el-table>

        <pagination
          :total="list.total"
          :page.sync="list.page"
          :limit.sync="list.limit"
          @pagination="getTable"
        />

        <!-- FORM DIALOG -->
        <el-dialog :title="dialogStatus" :visible.sync="dialogVisible">
          <el-form
            ref="dataForm"
            :model="temp"
            label-position="top"
            label-width="100px"
            style="width: 90%; margin-left:5%;"
          >
            <!-- ITEM FORM -->
            <el-form-item label="Prodi Jurusan" label-position="top">
              <el-select v-model="temp.prodi" placeholder="Please select">
                <el-option
                  v-for="item in comboProdi"
                  :key="item.id"
                  :label="'['+item.kode_prodi+'] '+item.nama_prodi"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>

            <el-form-item label="NRP">
              <el-input v-model="temp.nrp" />
            </el-form-item>
            <el-form-item label="Name">
              <el-input v-model="temp.name" />
            </el-form-item>
            <el-form-item label="Email">
              <el-input v-model="temp.email" />
            </el-form-item>
            <el-form-item label="Telp">
              <el-input v-model="temp.telp" />
            </el-form-item>
            <el-form-item label="Alamat">
              <el-input v-model="temp.alamat" />
            </el-form-item>
          </el-form>
          <!-- BUTTON ACTION -->
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">Cancel</el-button>
            <el-button
              type="primary"
              @click="dialogStatus==='create'?createData():updateData()"
            >{{ dialogStatus==='create'?'Save':'Update' }}</el-button>
          </div>
        </el-dialog>
        <!-- DELETE DIALOG -->
        <el-dialog title="Delete" :visible.sync="deleteFormVisible" width="30%">
          <span>Are you sure want to delete this data ?</span>
          <span slot="footer" class="dialog-footer">
            <el-button @click="deleteFormVisible = false">Cancel</el-button>
            <el-button type="danger" @click="deleteData()">delete</el-button>
          </span>
        </el-dialog>
      </div>
      <!-- /.box-body -->
      <!-- <div class="box-footer">Footer</div> -->
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content-wrapper -->
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  created() {
    this.ddProdis().then(() => {
      this.comboProdi = this.$store.state.prodi.ddProdis;
    });
    this.getTable();
  },
  data() {
    return {
      dialogVisible: false,
      deleteFormVisible: false,
      loading: {
        component: true,
        table: false
      },
      dialogStatus: "",
      search: "",
      comboProdi: [],
      temp: {
        id: "",
        prodi: "",
        nrp: "",
        nama: "",
        email: "",
        telp: "",
        alamat: ""
      },
      list: {
        keyword: "",
        page: 1,
        limit: 5,
        total: 0
      }
    };
  },
  watch: {
    search() {
      this.list.keyword = this.search;
      this.getTable();
    }
  },
  computed: {
    ...mapState("mahasiswa", {
      mahasiswa: state => state.mahasiswas
    })
  },
  methods: {
    ...mapMutations("mahasiswa", ["SET_ID_UPDATE"]),
    ...mapActions("prodi", ["ddProdis"]),
    ...mapActions("mahasiswa", [
      "getMahasiswas",
      "addMahasiswas",
      "updateMahasiswas",
      "deleteMahasiswas"
    ]),

    getTable() {
      this.loading.table = true;
      this.getMahasiswas(this.list).then(result => {
        this.list = {
          page: result.current_page,
          limit: parseInt(result.per_page),
          total: result.total
        };
        this.loading.table = false;
      });
      this.loading.component = false;
    },

    clearTemp() {
      this.temp = {
        id: "",
        prodi: "",
        nrp: "",
        name: "",
        email: "",
        telp: "",
        alamat: ""
      };
    },

    handleCreate() {
      this.clearTemp();
      this.dialogStatus = "create";
      this.dialogVisible = true;
    },

    createData() {
      this.addMahasiswas(this.temp).then(() => {
        this.$notify({
          title: "Success",
          message: "Create Successfully",
          type: "success"
        });
        this.dialogVisible = false;
        this.getTable();
      });
    },

    handleUpdate(row) {
      this.SET_ID_UPDATE(row.id);
      this.temp = {
        prodi: row.prodi,
        nrp: row.nrp,
        name: row.name,
        email: row.email,
        telp: row.telp,
        alamat: row.alamat
      };
      this.dialogStatus = "update";
      this.dialogVisible = true;
    },

    updateData() {
      this.updateMahasiswas(this.temp).then(() => {
        this.$notify({
          title: "Success",
          message: "Update Successfully",
          type: "success"
        });
        this.dialogVisible = false;
        this.getTable();
      });
    },

    handleDelete(id) {
      this.deleteFormVisible = true;
      this.temp.id = id;
    },

    deleteData() {
      this.deleteMahasiswas(this.temp.id).then(() => {
        this.$notify({
          title: "Success",
          message: "Delete Successfully",
          type: "success"
        });
        this.deleteFormVisible = false;
        this.clearTemp();
        this.getTable();
      });
    }
  }
};
</script>

<style>
.el-form-item {
  margin-bottom: 10px !important;
}
.el-form-item__label {
  padding: 0px !important;
}
</style>
