<template>
  <section class="content">
    <div class="box" style="margin-top:10px" v-loading="loading">
      <div class="box-header">
        <span style="font-size:30px;">{{this.temp.name}}</span>
        <div
          style="float:right;margin-right:5%"
          v-if="role === 1 || this.temp.id === this.$store.state.auth.userId"
        >
          <el-button
            type="warning"
            icon="el-icon-edit"
            v-if="pageDisable"
            @click="disablePage()"
          >Edit</el-button>
          <el-button type="primary" v-else @click="updateDataDosens()">
            <i class="fa fa-save"></i> Save
          </el-button>
        </div>
      </div>

      <div class="box-body">
        <!-- BODY PROFILE -->
        <div>
          <el-form
            ref="dataForm"
            :model="temp"
            label-position="top"
            label-width="100px"
            style="width: 90%; margin-left:5%;"
          >
            <!-- ITEM FORM -->
            <el-form-item label="NIDN">
              <el-input v-model="temp.nidn" :readonly="pageDisable" />
            </el-form-item>

            <el-form-item label="Nama Dosen">
              <el-input v-model="temp.name" :readonly="pageDisable" />
            </el-form-item>

            <el-form-item label="Email">
              <el-input v-model="temp.email" :readonly="pageDisable" />
            </el-form-item>

            <el-form-item label="Telp">
              <el-input v-model="temp.telp" :readonly="pageDisable" />
            </el-form-item>

            <el-form-item label="Alamat">
              <el-input type="textarea" v-model="temp.alamat" :readonly="pageDisable" />
            </el-form-item>
          </el-form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  created() {
    // this.temp.user = this.$route.params.id;
    // this.role = this.$store.state.auth.role;
    // this.ddProdis().then(() => {
    //   this.comboProdi = this.$store.state.prodi.ddProdis;
    // });
    // this.getComboKepangkatan();
    this.getDataDosen();
  },
  data() {
    return {
      loading: true,
      pageDisable: true,
      dialogVisible: false,
      dialogStatus: "",
      comboProdi: [],
      comboKepangkatan: [],
      comboPendidikan: [],
      role: 0,
      tempPendidikan: {
        dosen: "",
        pendidikan: "",
        univ: "",
        jurusan: ""
      },
      temp: {
        id: "",
        user: "",
        nidn: "",
        prodi: "",
        name: "",
        email: "",
        telp: "",
        gelar: "",
        pangkat: "",
        alamat: ""
      }
    };
  },
  methods: {
    ...mapMutations("pengurus", ["SET_ID_UPDATE"]),
    ...mapActions("pengurus", ["getPengurus", "updatePengurus"]),

    disablePage() {
      this.pageDisable = !this.pageDisable;
    },

    getDataDosen() {
      this.loading = true;
      this.getPengurus().then(() => {
        this.temp = this.$store.state.pengurus.pengurus;
        this.loading = false;
      });
    },

    updateDataDosens() {
      this.loading = true;
      this.SET_ID_UPDATE(this.temp.id);
      this.updatePengurus(this.temp).then(() => {
        this.loading = false;
      });
      this.disablePage();
    }
  }
};
</script>

<style>
.el-form-item {
  margin-bottom: 10px !important;
}
.el-form-item__label {
  padding: 0px !important;
}
.el-select {
  width: 80% !important;
}
</style>
