<template>
  <!-- Main content -->
  <section class="content" v-loading="loading.component">
    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <br />
        <!-- <el-button size="small" type="primary" @click="handleCreate()" icon="el-icon-edit">Add New</el-button> -->
        <el-row>
          <el-col :span="8">
            <el-button
              size="small"
              type="primary"
              @click="handleCreate()"
              icon="el-icon-edit"
            >Add New</el-button>
          </el-col>
          <el-col :span="16">
            <el-input type="text" placeholder="search from kode prodi or name" v-model="search" />
          </el-col>
        </el-row>
      </div>
      <div class="box-body">
        <el-table :data="prodi" border style="width: 100%" v-loading="loading.table">
          <el-table-column label="No" width="50">
            <template slot-scope="scope">{{(list.page-1)*list.limit + scope.$index+1}}</template>
          </el-table-column>

          <el-table-column label="Kode Prodi" width="180">
            <template slot-scope="{row}">{{row.kode_prodi}}</template>
          </el-table-column>

          <el-table-column label="Nama Prodi" min-width="180">
            <template slot-scope="{row}">{{row.nama_prodi}}</template>
          </el-table-column>

          <el-table-column label="Kode Nama" width="180">
            <template slot-scope="{row}">{{row.kode_nama}}</template>
          </el-table-column>

          <el-table-column label="KA Prodi" min-width="180">
            <template slot-scope="{row}">{{row.ka_prodi}}</template>
          </el-table-column>

          <el-table-column label="Aksi" width="180">
            <template slot-scope="{row}">
              <el-button size="small" type="warning" @click="handleUpdate(row)">Edit</el-button>
              <el-button size="small" type="danger" @click="handleDelete(row.id)">Delete</el-button>
            </template>
          </el-table-column>
        </el-table>

        <pagination
          :total="list.total"
          :page.sync="list.page"
          :limit.sync="list.limit"
          @pagination="getTable"
        />

        <!-- FORM DIALOG -->
        <el-dialog :title="dialogStatus" :visible.sync="dialogVisible">
          <el-form
            ref="dataForm"
            :model="temp"
            label-position="top"
            label-width="100px"
            style="width: 90%; margin-left:5%;"
          >
            <!-- ITEM FORM -->
            <el-form-item label="Kode Prodi">
              <el-input v-model="temp.kode_prodi" />
            </el-form-item>

            <el-form-item label="Nama Prodi">
              <el-input v-model="temp.nama_prodi" />
            </el-form-item>

            <el-form-item label="Kode Nama">
              <el-input v-model="temp.kode_nama" />
            </el-form-item>

            <el-form-item label="KA Prodi">
              <el-select
                v-model="temp.nidn"
                filterable
                remote
                :remote-method="getDropdownDosen"
                class="filter-item"
                no-data-text="Empty"
                no-match-text="Not Match"
                placeholder="Please select"
              >
                <el-option
                  v-for="item in comboDosen"
                  :key="item.id"
                  :label="item.nidn+' ['+ item.name +']'"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
          </el-form>
          <!-- BUTTON ACTION -->
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">Cancel</el-button>
            <el-button
              type="primary"
              @click="dialogStatus==='create'?createData():updateData()"
            >{{ dialogStatus==='create'?'Save':'Update' }}</el-button>
          </div>
        </el-dialog>
        <!-- DELETE DIALOG -->
        <el-dialog title="Delete" :visible.sync="deleteFormVisible" width="30%">
          <span>Are you sure want to delete this data ?</span>
          <span slot="footer" class="dialog-footer">
            <el-button @click="deleteFormVisible = false">Cancel</el-button>
            <el-button type="danger" @click="deleteData()">delete</el-button>
          </span>
        </el-dialog>
      </div>
      <!-- /.box-body -->
      <!-- <div class="box-footer">Footer</div> -->
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content-wrapper -->
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  created() {
    this.getTable();
    this.getDropdownDosen();
  },
  data() {
    return {
      dialogVisible: false,
      deleteFormVisible: false,
      loading: {
        component: true,
        table: true
      },
      comboDosen: null,
      dialogStatus: "",
      search: "",
      temp: {
        id: "",
        kode_prodi: "",
        nama_prodi: "",
        kode_nama: "",
        nidn: ""
      },
      list: {
        keyword: "",
        page: 1,
        limit: 5,
        total: 0
      }
    };
  },
  watch: {
    search() {
      this.list.keyword = this.search;
      this.getTable();
    }
  },
  computed: {
    ...mapState("prodi", {
      prodi: state => state.prodis
    })
  },
  methods: {
    ...mapMutations("prodi", ["SET_ID_UPDATE"]),
    ...mapActions("dosen", ["ddDosens"]),
    ...mapActions("prodi", [
      "getProdis",
      "addProdis",
      "updateProdis",
      "deleteProdis"
    ]),

    getTable() {
      this.loading.table = true;
      this.getProdis(this.list).then(result => {
        this.list = {
          page: result.current_page,
          limit: parseInt(result.per_page),
          total: result.total
        };
        this.loading.table = false;
      });

      this.loading.component = false;
    },

    getDropdownDosen(query) {
      this.ddDosens(query).then(() => {
        this.comboDosen = this.$store.state.dosen.ddDosens;
      });
    },

    clearTemp() {
      this.temp = {
        id: "",
        kode_prodi: "",
        nama_prodi: "",
        kode_nama: "",
        nidn: ""
      };
    },

    handleCreate() {
      this.clearTemp();
      this.dialogStatus = "create";
      this.dialogVisible = true;
    },

    createData() {
      this.addProdis(this.temp).then(() => {
        this.$notify({
          title: "Success",
          message: "Create Successfully",
          type: "success"
        });
        this.dialogVisible = false;
        this.getTable();
      });
    },

    handleUpdate(row) {
      this.SET_ID_UPDATE(row.id);
      this.temp = {
        kode_prodi: row.kode_prodi,
        nama_prodi: row.nama_prodi,
        kode_nama: row.kode_nama,
        nidn: row.nidn
      };
      this.dialogStatus = "update";
      this.dialogVisible = true;
    },

    updateData() {
      this.updateProdis(this.temp).then(() => {
        this.$notify({
          title: "Success",
          message: "Update Successfully",
          type: "success"
        });
        this.dialogVisible = false;
        this.getTable();
      });
    },

    handleDelete(id) {
      this.deleteFormVisible = true;
      this.temp.id = id;
    },

    deleteData() {
      this.deleteProdis(this.temp.id).then(() => {
        this.$notify({
          title: "Success",
          message: "Delete Successfully",
          type: "success"
        });
        this.deleteFormVisible = false;
        this.clearTemp();
        this.getTable();
      });
    }
  }
};
</script>

<style>
.el-form-item {
  margin-bottom: 10px !important;
}
.el-form-item__label {
  padding: 0px !important;
}
.el-select {
  width: 80% !important;
}
</style>
