<template>
  <!-- Main content -->
  <section class="content" v-loading="loading.component">
    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <br />

        <el-row>
          <el-col :span="mid">
            <el-form
              ref="dataForm"
              :model="temp"
              label-position="top"
              label-width="100px"
              style="width: 90%; margin-left:5%;"
            >
              <!-- ITEM FORM -->
              <el-form-item label="Kode Pengabdian">
                <el-input placeholder="search kode pengabdian" v-model="list.kode_pengabdian" />
              </el-form-item>

              <el-form-item label="Judul">
                <el-input placeholder="search judul" v-model="list.judul" />
              </el-form-item>

              <el-form-item label="Prodi Jurusan" label-position="top">
                <el-select v-model="list.jurusan" placeholder="Please select">
                  <el-option
                    v-for="item in comboProdi"
                    :key="item.id"
                    :label="'['+item.kode_prodi+'] '+item.nama_prodi"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-form>
          </el-col>

          <el-col :span="mid">
            <el-form
              ref="dataForm"
              :model="temp"
              label-position="top"
              label-width="100px"
              style="width: 90%; margin-left:5%;"
            >
              <!-- ITEM FORM -->
              <el-form-item label="Nama Dosen">
                <el-input placeholder="search from dosen name" v-model="search" />
              </el-form-item>

              <el-form-item label="Tahun" label-position="top">
                <el-select v-model="list.tahun" placeholder="Please select">
                  <el-option
                    v-for="(item,index) in comboYear"
                    :key="index"
                    :label="item"
                    :value="item"
                  />
                </el-select>
              </el-form-item>

              <el-form-item label="Status" label-position="top">
                <el-select v-model="list.status" placeholder="Please select">
                  <el-option
                    v-for="(item,index) in comboStatus"
                    :key="index"
                    :label="item"
                    :value="item"
                  />
                </el-select>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>
      </div>
      <div class="box-body">
        <el-table :data="approve" border style="width: 100%" v-loading="loading.table">
          <el-table-column label="No" width="50">
            <template slot-scope="scope">{{(list.page-1)*list.limit + scope.$index+1}}</template>
          </el-table-column>

          <el-table-column label="Kode Pengabdian" min-width="180">
            <template slot-scope="{row}">{{row.kode_pengabdian}}</template>
          </el-table-column>

          <el-table-column label="Judul" min-width="180">
            <template slot-scope="{row}">{{row.judul}}</template>
          </el-table-column>

          <el-table-column label="Prodi" min-width="180">
            <template slot-scope="{row}">{{row.nama_prodi}}</template>
          </el-table-column>

          <el-table-column label="Tahun" width="80">
            <template slot-scope="{row}">{{row.tahun}}</template>
          </el-table-column>

          <el-table-column label="Nama Dosen" min-width="180">
            <template slot-scope="{row}">{{row.name}}</template>
          </el-table-column>

          <el-table-column label="Status" width="100">
            <template slot-scope="{row}">
              <span class="label label-danger" v-if="row.status === 'REJECTED'">Rejected</span>
              <span class="label label-success" v-if="row.status === 'COMPLETE'">Complete</span>
              <span class="label label-info" v-if="row.status === 'PROGRESS'">On Progress</span>
              <span class="label label-warning" v-if="row.status === 'SUBMITED'">Submited</span>
              <span class="label label-primary" v-if="row.status === 'APPROVED'">Approve</span>
            </template>
          </el-table-column>

          <el-table-column label="Aksi" width="180">
            <template slot-scope="{row}">
              <router-link :to="{ name: 'view_pengajuan', params: {id: row.id} }">
                <el-button type="primary" size="mini" icon="el-icon-view">View</el-button>
              </router-link>
              <!-- <el-button size="small" type="warning" @click="handleUpdate(row)">Edit</el-button>
              <el-button size="small" type="danger" @click="handleDelete(row.id)">Delete</el-button>-->
            </template>
          </el-table-column>
        </el-table>

        <pagination
          :total="list.total"
          :page.sync="list.page"
          :limit.sync="list.limit"
          @pagination="getTable"
        />
        <!-- <span>Role : {{ this.isUser.role}}</span> -->
      </div>
      <!-- /.box-body -->
      <!-- <div class="box-footer">Footer</div> -->
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content-wrapper -->
</template>

<script>
import { mapActions, mapMutations, mapState, mapGetters } from "vuex";

export default {
  created() {
    this.generateComboYear();
    this.authToken();
    // this.getTable();
    this.ddProdis().then(() => {
      this.comboProdi = this.$store.state.prodi.ddProdis;
    });
  },
  data() {
    return {
      dialogVisible: false,
      deleteFormVisible: false,
      loading: {
        component: true,
        table: true
      },
      mid: 12,
      roleUser: "",
      search: "",
      dialogStatus: "",
      comboYear: [],
      comboProdi: [],
      comboStatus: ["SUBMITED", "APPROVED", "REJECTED", "PROGRESS", "COMPLETE"],
      temp: {
        id: "",
        dana: "",
        bobot: 0
      },
      list: {
        keyword: "",
        tahun: "",
        kode_pengabdian: "",
        judul: "",
        prodi: "",
        status: "",
        user: 1,
        role: 1, //this.role,
        page: 1,
        limit: 5,
        total: 0
      },
      approval: ""
    };
  },
  computed: {
    ...mapState("dashboard", {
      approve: state => state.approves
    }),
    // ...mapState("auth", {
    //   roles: state => state.role
    // })
    ...mapGetters({ isUser: "isUser" })
    // roles() {
    //   return this.$store.state.auth.role;
    // }
  },
  mounted: function() {
    if (this.isUser.role) {
      this.list.role = this.isUser.role;
    }
  },
  methods: {
    ...mapActions("dashboard", ["getDashboards"]),
    ...mapActions("auth", ["auth"]),
    ...mapActions("prodi", ["ddProdis"]),

    async authToken() {
      var test = localStorage.getItem("token");
      const request = {
        token: test
      };
      await this.auth(request).then(result => {
        this.list.user = result.id;
        this.list.role = result.role;
        this.getTable();
      });
      //   this.auth(request).then(console.log(this.$store.state.auth.userId));
    },

    generateComboYear() {
      var today = new Date();
      var tahun = today.getFullYear();
      for (let index = tahun; index >= 2000; index--) {
        this.comboYear.push(index);
      }
    },

    async getTable() {
      this.loading.table = true;
      //   await this.authToken();
      await this.getDashboards(this.list).then(result => {
        this.list = {
          page: result.current_page,
          limit: parseInt(result.per_page),
          total: result.total
        };
        this.loading.table = false;
      });
      this.loading.component = false;
    }
  }
};
</script>

<style>
.el-form-item {
  margin-bottom: 10px !important;
}
.el-form-item__label {
  padding: 0px !important;
  line-height: 0px !important;
}

.el-select {
  width: 80% !important;
}
</style>
