<template>
  <div class="container">
    <div class="login-box">
      <div class="login-logo">
        <router-link :to="{ name: 'home' }">
          Abdimas
          <b>ITI</b>
        </router-link>
      </div>
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <div class="form-group has-feedback" :class="{'has-error': errors.email}">
          <input type="text" class="form-control" placeholder="Name" v-model="data.name" />
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
          <p class="text-danger" v-if="errors.email">{{ errors.email[0] }}</p>
        </div>

        <div class="form-group has-feedback" :class="{'has-error': errors.email}">
          <input type="email" class="form-control" placeholder="Email" v-model="data.email" />
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          <p class="text-danger" v-if="errors.email">{{ errors.email[0] }}</p>
        </div>

        <div class="form-group has-feedback" :class="{'has-error': errors.password}">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            v-model="data.password"
          />
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <p class="text-danger" v-if="errors.password">{{ errors.password[0] }}</p>
        </div>
        <div
          class="form-group has-feedback"
          :class="{'has-success':matchPassword.match,'has-error':matchPassword.notMatch}"
        >
          <input
            type="password"
            class="form-control"
            placeholder="Confirm Password"
            v-model="data.confirm_password"
            :change="checkpassword()"
          />
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <p class="text-danger" v-if="errors.password">{{ errors.password[0] }}</p>
        </div>

        <div class="alert alert-danger" v-if="errors.invalid">{{ errors.invalid }}</div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox">
              <router-link :to="{name:'login'}">already have account? SignIn</router-link>
            </div>
          </div>
          <div class="col-xs-4">
            <button
              type="submit"
              class="btn btn-primary btn-block btn-flat"
              @click.prevent="registerAccount"
            >Sign Up</button>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</template>

<!-- JAVASCRIPT SECTION -->
<script>
import { mapActions, mapMutations, mapGetters, mapState } from "vuex";
export default {
  data() {
    return {
      data: {
        name: "",
        email: "",
        password: "",
        confirm_password: "",
        role: 2,
        remember_me: false
      },
      matchPassword: {
        match: false,
        notMatch: false
      }
    };
  },
  //SEBELUM COMPONENT DI-RENDER
  created() {
    //KITA MELAKUKAN PENGECEKAN JIKA SUDAH LOGIN DIMANA VALUE isAuth BERNILAI TRUE
    if (this.isAuth) {
      //MAKA DI-DIRECT KE ROUTE DENGAN NAME home
      this.$router.push({ name: "home" });
    }
  },
  computed: {
    ...mapGetters(["isAuth"]), //MENGAMBIL GETTERS isAuth DARI VUEX
    ...mapState(["errors"])
  },
  methods: {
    ...mapActions("auth", ["register"]),

    //KETIKA TOMBOL LOGIN DITEKAN, MAKA AKAN MEMINCU METHODS postLogin()
    checkpassword() {
      if (this.data.password !== "" && this.data.confirm_password !== "") {
        if (this.data.password === this.data.confirm_password) {
          this.matchPassword = {
            match: true,
            notMatch: false
          };
        } else {
          this.matchPassword = {
            match: false,
            notMatch: true
          };
        }
      } else {
        this.matchPassword = {
          match: false,
          notMatch: false
        };
      }
    },

    registerAccount() {
      if (this.matchPassword.match) {
        this.register($data).then(() => {
          this.$notify({
            title: "Success",
            message: "Create Successfully",
            type: "success"
          });
          this.$router.push({ name: "login" });
        });
      } else {
        this.$notify({
          title: "Warning",
          message: "Data Not Valid",
          type: "error"
        });
      }
    }
  }
};
</script>
