<template>
  <div>
    <header class="main-header">
      <!-- Logo -->
      <a href="index2.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
          <b>ITI</b>
        </span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
          Abdimas
          <b>ITI</b>
        </span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- ------------------------------------------------ -->
            <li class="dropdown notifications-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs">
                  {{this.username}}
                  <i class="fa fa-cogs" />
                </span>
              </a>
              <ul class="dropdown-menu">
                <li class="header" style="font-weight:bold">Settings</li>
                <li>
                  <ul class="menu">
                    <li v-if="role !== 1">
                      <router-link :to="{name:'dosen.profil', params: {id: userId}}">Profil</router-link>
                    </li>
                    <li>
                      <a href="#" @click="signout()">
                        <i class="fa fa-sign-out-alt text-red"></i>
                        Sign out
                      </a>
                    </li>
                  </ul>
                </li>
                <!-- <li class="footer">
                  <a href="#" @click="signout()">Sign out</a>
                </li>-->
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <!-- <div class="user-panel">
          <div class="pull-left image">
            <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
            <i class="fa fa-user-graduate" ></i>
          </div>
          <div class="pull-left info">
            <i class="fa fa-user-graduate"></i>
            {{this.username}}
          </div>
        </div>-->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
          <li class="active treeview">
            <!-- <a href="#">
              <i class="fa fa-dashboard"></i>
              <span>Dashboard</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li class="active">
                <a href="index.html">
                  <i class="fa fa-circle-o"></i> Dashboard v1
                </a>
              </li>
              <li>
                <a href="index2.html">
                  <i class="fa fa-circle-o"></i> Dashboard v2
                </a>
              </li>
            </ul>
            </li>-->
          </li>
          <li>
            <router-link :to="{name: 'home'}">
              <i class="fa fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </router-link>
          </li>

          <li class="active treeview" v-if="role === 1">
            <a href="#">
              <i class="fa fa-table"></i>
              <span>Master</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li>
                <router-link :to="{ name: 'prodi' }">
                  <i class="fa fa-table"></i> Prodi
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'semester' }">
                  <i class="fa fa-table"></i> Semester
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'pendidikan' }">
                  <i class="fa fa-table"></i> Pendidikan
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'kepangkatan' }">
                  <i class="fa fa-table"></i> Kepangkatan
                </router-link>
              </li>
              <li>
                <router-link :to="{name: 'dana'}">
                  <i class="fa fa-table"></i> Sumber Dana
                </router-link>
              </li>
              <li>
                <router-link :to="{name: 'mitra'}">
                  <i class="fa fa-table"></i> Mitra
                </router-link>
              </li>
              <li>
                <router-link :to="{name: 'mitraOutput'}">
                  <i class="fa fa-table"></i> Output Mitra
                </router-link>
              </li>
              <li>
                <router-link :to="{name: 'iptek'}">
                  <i class="fa fa-table"></i> Sumber Daya Iptek
                </router-link>
              </li>
              <li>
                <router-link :to="{name: 'publikasi'}">
                  <i class="fa fa-table"></i> Publikasi
                </router-link>
              </li>
              <li>
                <router-link :to="{name: 'unitBisnis'}">
                  <i class="fa fa-table"></i> Unit Bisnis
                </router-link>
              </li>
              <li>
                <router-link :to="{name: 'typical'}">
                  <i class="fa fa-table"></i> Typical
                </router-link>
              </li>
            </ul>
          </li>
          <li>
            <router-link :to="{name:'dosen'}">
              <i class="fa fa-user-graduate"></i>
              <span>Dosen</span>
            </router-link>
          </li>
          <li>
            <router-link :to="{name:'mahasiswa'}">
              <i class="fa fa-user"></i>
              <span>Mahasiswa</span>
            </router-link>
          </li>
          <li>
            <router-link :to="{name:'pengajuan'}">
              <i class="fa fa-file-alt"></i>
              <span>Pengajuan Abdimas</span>
            </router-link>
          </li>

          <li class="treeview">
            <a href="#">
              <i class="fa fa-file-signature"></i>
              <span>Approval</span>
              <!-- <small class="label bg-yellow" v-if="this.count > 0">{{this.count}}</small> -->
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li>
                <router-link :to="{ name: 'submited' }">
                  <i class="fa fa-hourglass-2"></i>
                  Submited
                  <small
                    class="label pull-right bg-yellow"
                    v-if="this.count > 0"
                  >{{this.count}}</small>
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'approve' }">
                  <i class="fa fa-check-circle"></i> Approved
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'rejected' }">
                  <i class="fa fa-ban"></i> Rejected
                </router-link>
              </li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-file-signature"></i>
              <span>Surat</span>
              <!-- <small class="label bg-yellow" v-if="this.count > 0">{{this.count}}</small> -->
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
              <li>
                <router-link :to="{ name: 'pengurus' }">
                  <i class="fa fa-check-circle"></i> Pengurus
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'SuratTugas' }">
                  <i class="fa fa-check-circle"></i> Surat Tugas
                </router-link>
              </li>
              <li>
                <router-link :to="{ name: 'LembarPengesahan' }">
                  <i class="fa fa-ban"></i> Lembar Pengesahan
                </router-link>
              </li>
            </ul>
          </li>
          <!-- <li>
            <router-link to="/404">
              <i class="fa fa-file-signature"></i>
              <span>Approval</span>
            </router-link>
          </li>-->
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      userId: null,
      username: null,
      role: null,
      count: 0
    };
  },
  created() {
    this.getCountPengajuan();
    this.authToken();
    // this.userId = this.$store.state.auth.userId;
    // this.username = this.$store.state.auth.username;
  },
  methods: {
    ...mapActions("auth", ["auth"]),
    ...mapActions("approve", ["getCount"]),

    getCountPengajuan() {
      this.getCount().then(result => {
        this.count = result;
        // console.log(result);
      });
    },

    authToken() {
      var test = localStorage.getItem("token");
      const request = {
        token: test
      };
      this.auth(request).then(result => {
        // console.log(result);
        this.userId = this.$store.state.auth.userId;
        this.username = this.$store.state.auth.username;
        this.role = this.$store.state.auth.role;
      });
      //   this.auth(request).then(console.log(this.$store.state.auth.userId));
    },

    signout() {
      localStorage.clear();
      // this.$router.push({path:'/login'})
      location.reload();
      // vm.$forceUpdate();
    }
  }
};
</script>

<style>
.info {
  left: 5px !important;
}
</style>
