<template>
  <div class="row" style="margin-left:10px;margin-right:10px">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "Index"
};
</script>

<style>
</style>
