<template>
  <div align="center">
    <span class="span404">404</span>
    <span class="spanError">error</span>
    <div class="text">
      <p>Page Not Found</p>
      <p>We are sorry but the page you are looking for does not exist</p>
      <p>You could return to the homepage</p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
.span404 {
  font-weight: bold;
  font-size: 200px;
}

.spanError {
  font-size: 70px;
}

.text {
  font-size: 20px;
}
</style>
