<template>
  <!-- Main content -->
  <section class="content" v-loading="loading.component">
    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <br />
        <!-- <el-button size="small" type="primary" @click="handleCreate()" icon="el-icon-edit">Add New</el-button> -->
        <el-row>
          <el-col :span="8">
            <el-button
              size="small"
              type="primary"
              @click="handleCreate()"
              icon="el-icon-edit"
            >Add New</el-button>
          </el-col>
          <el-col :span="16">
            <el-input type="text" placeholder="search" v-model="search" />
          </el-col>
        </el-row>
      </div>
      <div class="box-body">
        <el-table :data="pendidikan" border style="width: 100%" v-loading="loading.table">
          <el-table-column label="No" width="50">
            <template slot-scope="scope">{{(list.page-1)*list.limit + scope.$index+1}}</template>
          </el-table-column>
          <el-table-column label="Tingkat" width="180">
            <template slot-scope="{row}">{{row.tingkat}}</template>
          </el-table-column>
          <el-table-column label="Pendidikan" width="180">
            <template slot-scope="{row}">{{row.pendidikan}}</template>
          </el-table-column>
          <el-table-column label="Deskripsi" min-width="180">
            <template slot-scope="{row}">{{row.description}}</template>
          </el-table-column>
          <el-table-column label="Aksi" width="180">
            <template slot-scope="{row}">
              <el-button size="small" type="warning" @click="handleUpdate(row)">Edit</el-button>
              <el-button size="small" type="danger" @click="handleDelete(row.id)">Delete</el-button>
            </template>
          </el-table-column>
        </el-table>

        <pagination
          :total="list.total"
          :page.sync="list.page"
          :limit.sync="list.limit"
          @pagination="getTable"
        />

        <el-dialog :title="dialogStatus" :visible.sync="dialogVisible">
          <el-form
            ref="dataForm"
            :model="temp"
            label-position="top"
            label-width="100px"
            style="width: 90%; margin-left:5%;"
          >
            <!-- ITEM FORM -->
            <el-form-item label="Tingkat">
              <el-input v-model="temp.tingkat" />
            </el-form-item>
            <el-form-item label="Pendidikan">
              <el-input v-model="temp.pendidikan" />
            </el-form-item>
            <el-form-item label="Deskripsi">
              <el-input v-model="temp.description" type="textarea" />
            </el-form-item>
          </el-form>
          <!-- BUTTON ACTION -->
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">Cancel</el-button>
            <el-button
              type="primary"
              @click="dialogStatus==='create'?createData():updateData()"
            >{{ dialogStatus==='create'?'Save':'Update' }}</el-button>
          </div>
        </el-dialog>
        <!-- DELETE DIALOG -->
        <el-dialog title="Delete" :visible.sync="deleteFormVisible" width="30%">
          <span>Are you sure want to delete this data ?</span>
          <span slot="footer" class="dialog-footer">
            <el-button @click="deleteFormVisible = false">Cancel</el-button>
            <el-button type="danger" @click="deleteData()">delete</el-button>
          </span>
        </el-dialog>
      </div>
      <!-- /.box-body -->
      <!-- <div class="box-footer">Footer</div> -->
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content-wrapper -->
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  created() {
    this.getTable();
  },
  data() {
    return {
      dialogVisible: false,
      deleteFormVisible: false,
      loading: {
        component: true,
        table: true
      },
      search: "",
      dialogStatus: "",
      temp: {
        id: "",
        tingkat: "",
        pendidikan: "",
        description: ""
      },
      list: {
        keyword: "",
        page: 1,
        limit: 5,
        total: 0
      }
    };
  },
  watch: {
    search() {
      this.list.keyword = this.search;
      this.getTable();
    }
  },
  computed: {
    ...mapState("pendidikan", {
      pendidikan: state => state.pendidikans
    })
  },
  methods: {
    ...mapMutations("pendidikan", ["SET_ID_UPDATE"]),
    ...mapActions("pendidikan", [
      "getPendidikans",
      "addPendidikans",
      "updatePendidikans",
      "deletePendidikans"
    ]),

    getTable() {
      this.loading.table = true;
      this.getPendidikans(this.list).then(result => {
        this.list = {
          page: result.current_page,
          limit: parseInt(result.per_page),
          total: result.total
        };

        this.loading.table = false;
      });
      this.loading.component = false;
    },

    clearTemp() {
      this.temp = {
        id: "",
        tingkat: "",
        pendidikan: "",
        description: ""
      };
    },

    handleCreate() {
      this.clearTemp();
      this.dialogStatus = "create";
      this.dialogVisible = true;
    },

    createData() {
      this.addPendidikans(this.temp).then(() => {
        this.$notify({
          title: "Success",
          message: "Create Successfully",
          type: "success"
        });
        this.dialogVisible = false;
        this.getTable();
      });
    },

    handleUpdate(row) {
      this.SET_ID_UPDATE(row.id);
      this.temp = {
        tingkat: row.tingkat,
        pendidikan: row.pendidikan,
        description: row.description
      };
      this.dialogStatus = "update";
      this.dialogVisible = true;
    },

    updateData() {
      this.updatePendidikans(this.temp).then(() => {
        this.$notify({
          title: "Success",
          message: "Update Successfully",
          type: "success"
        });
        this.dialogVisible = false;
        this.getTable();
      });
    },

    handleDelete(id) {
      this.deleteFormVisible = true;
      this.temp.id = id;
    },

    deleteData() {
      this.deletePendidikans(this.temp.id).then(() => {
        this.$notify({
          title: "Success",
          message: "Delete Successfully",
          type: "success"
        });
        this.deleteFormVisible = false;
        this.clearTemp();
        this.getTable();
      });
    }
  }
};
</script>

<style>
.el-form-item {
  margin-bottom: 10px !important;
}
.el-form-item__label {
  padding: 0px !important;
}
</style>
