<template>
  <section class="content">
    <div class="box">
      <div class="box-header with-border" id="headerSurat">
        <br />
        <!-- <el-button size="small" type="primary" @click="handleCreate()" icon="el-icon-edit">Add New</el-button> -->
        <el-row>
          <el-col :span="12">
            <el-form ref="dataForm" label-position="top" label-width="100px" style="width: 80%;">
              <el-form-item label="Prodi Jurusan" label-position="top">
                <el-select v-model="search.prodi" placeholder="Please select">
                  <el-option
                    v-for="item in comboProdi"
                    :key="item.id"
                    :label="'['+item.kode_prodi+'] '+item.nama_prodi"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>

              <el-form-item label="Kode Pengabdian" label-position="top">
                <el-input v-model="search.kode" placeholder="IF/2020/1/NIDN/12345678/1" />
              </el-form-item>
            </el-form>
            <el-button
              type="primary"
              @click="generateSurat()"
              icon="el-icon-s-claim"
              :disabled="this.search.prodi === '' || this.search.kode ===''"
            >Buat Pengesahan</el-button>
            <el-button size="small" type="success" @click="download()" icon="el-icon-edit">Print</el-button>
          </el-col>
          <el-col :span="8"></el-col>
        </el-row>
      </div>
      <div class="box-body" v-if="generate" :loading="loading">
        <div class="surat" align="center">
          <div id="kopsurat" ref="kopsurat">
            <table width="95%">
              <tr>
                <td width="10%">
                  <img :src="'/img/iti-logo.png'" alt="image" width="100px" />
                </td>
                <td width="10px"></td>
                <td>
                  <h3 style="margin-top: 0px;margin-bottom: 0px;">INSTITUT</h3>
                  <h3 style="margin-top: 0px;margin-bottom: 0px;">TEKNOLOGI</h3>
                  <h3 style="margin-top: 0px;margin-bottom: 0px;">INDONESIA</h3>
                </td>
                <td width="10%"></td>
                <td align="center" width="50%">
                  <h4 style="font-weight:bold;margin-top: 0px;margin-bottom: 0px;">KAMPUS</h4>
                  <h5 style="margin-top: 0px;margin-bottom: 0px;">Jl. Raya Puspiptek Serpong</h5>
                  <h5 style="margin-top: 0px;margin-bottom: 0px;">Tangerang - Selatan 15320</h5>
                  <h5
                    style="margin-top: 0px;margin-bottom: 0px;"
                  >(021) 7560542 - 7560545 Fax. (021) 7560542</h5>
                </td>
              </tr>
            </table>
            <hr style="border-top: 2px solid black;" />
            <h3 style="font-weight:bold" align="center">HALAMAN PENGESAHAN</h3>
            <table class="isiSurat">
              <tr>
                <td colspan="2">
                  <span style="font-weight:bold">Judul</span>
                </td>
                <td>:</td>
                <td>
                  <span style="font-weight:bold">{{surat.judul}}</span>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <span style="font-weight:bold">Kelompok P2M</span>
                </td>
                <td>:</td>
                <td>{{surat.bidang}}</td>
              </tr>
              <tr>
                <td colspan="4">
                  <span style="font-weight:bold">Pelaksana</span>
                </td>
              </tr>
              <tr>
                <td>a.</td>
                <td>Nama Lengkap</td>
                <td></td>
                <td>{{surat.name}}</td>
              </tr>
              <tr>
                <td>b.</td>
                <td>NIDN</td>
                <td></td>
                <td>{{surat.nidn}}</td>
              </tr>
              <tr>
                <td>c.</td>
                <td>Jabatan Fungsional</td>
                <td></td>
                <td>{{surat.pangkat}}</td>
              </tr>
              <tr>
                <td>d.</td>
                <td>Program Studi</td>
                <td></td>
                <td>{{surat.nama_prodi}}</td>
              </tr>
              <tr>
                <td>e.</td>
                <td>Nomor HP</td>
                <td></td>
                <td>{{surat.telp}}</td>
              </tr>
              <tr>
                <td>f.</td>
                <td>Email</td>
                <td></td>
                <td>{{surat.email}}</td>
              </tr>
            </table>
            <br />
            <table
              v-for="(item,index) in surat.anggota"
              :key="index"
              class="isiSurat"
              style="margin-left:-180px"
              id="anggota"
            >
              <div v-if="item.role === 2">
                <tr>
                  <td>a.</td>
                  <td>Nama Lengkap</td>
                  <td></td>
                  <td>{{item.name}}</td>
                </tr>
                <tr>
                  <td>b.</td>
                  <td>NIDN</td>
                  <td></td>
                  <td>{{item.nidn}}</td>
                </tr>
                <tr>
                  <td>c.</td>
                  <td>Jabatan Fungsional</td>
                  <td></td>
                  <td>{{item.pangkat}}</td>
                </tr>
                <tr>
                  <td>d.</td>
                  <td>Program Studi</td>
                  <td></td>
                  <td>{{item.prodi}}</td>
                </tr>
                <tr>
                  <td>e.</td>
                  <td>Nomor HP</td>
                  <td></td>
                  <td>{{item.telp}}</td>
                </tr>
                <tr>
                  <td>f.</td>
                  <td>Email</td>
                  <td></td>
                  <td>{{item.email}}</td>
                </tr>
                <tr>
                  <td colspan="4">
                    <br />
                  </td>
                </tr>
              </div>
              <div v-else>
                <tr>
                  <td>a.</td>
                  <td>Nama Lengkap</td>
                  <td></td>
                  <td>{{item.name}}</td>
                </tr>
                <tr>
                  <td>b.</td>
                  <td>NRP</td>
                  <td></td>
                  <td>{{item.nrp}}</td>
                </tr>
                <tr>
                  <td>c.</td>
                  <td>Jabatan Fungsional</td>
                  <td></td>
                  <td>Mahasiswa</td>
                </tr>
                <tr>
                  <td>d.</td>
                  <td>Program Studi</td>
                  <td></td>
                  <td>{{item.prodi}}</td>
                </tr>
                <tr>
                  <td>e.</td>
                  <td>Nomor HP</td>
                  <td></td>
                  <td>{{item.telp}}</td>
                </tr>
                <tr>
                  <td>f.</td>
                  <td>Email</td>
                  <td></td>
                  <td>{{item.email}}</td>
                </tr>
                <tr>
                  <td colspan="4">
                    <br />
                  </td>
                </tr>
              </div>
            </table>
            <table class="isiSurat" width="80%">
              <tr>
                <td colspan="3">Institusi Mitra</td>
              </tr>
              <tr>
                <td width="150px">Nama Institusi</td>
                <td>:</td>
                <td>{{surat.mitra[0].name}}</td>
              </tr>
              <tr>
                <td>Alamat</td>
                <td>:</td>
                <td>{{surat.mitra[0].alamat}}</td>
              </tr>
              <!-- <tr>
                <td>Penanggung Jawab</td>
                <td>:</td>
                <td>Lurah Kerangan</td>
              </tr>-->
              <tr>
                <td>Tahun Pelaksanaan</td>
                <td>:</td>
                <td>Tahun {{surat.tahun}}</td>
              </tr>
              <tr>
                <td>Biaya keseluruhan</td>
                <td>:</td>
                <!-- <td>Rp. {{surat.dana[0].jumlah}},-</td> -->
                <td>{{this.formatRupiah(surat.dana[0].jumlah)}}</td>
              </tr>
            </table>
            <br />
            <div>
              <span style="float:right;padding-right:100px">Tangerang Selatan, {{this.tanggal}}</span>
              <br />
              <table widht="100%" align="center" class="persetujuan">
                <tr>
                  <td width="35%">
                    <p>Mengetahui,</p>
                    Ketua Prodi {{this.prodi.nama_prodi}}
                  </td>
                  <td min-width="30%"></td>
                  <td width="35%">Pelaksana,</td>
                </tr>
                <tr>
                  <td height="70px" colspan="3"></td>
                </tr>
                <tr>
                  <td>( {{this.prodi.name}}, {{this.prodi.gelar}} )</td>
                  <td></td>
                  <td>( {{surat.name}} )</td>
                </tr>
                <tr>
                  <td>NIDN: {{this.prodi.nidn}}</td>
                  <td></td>
                  <td>NIDN: {{surat.nidn}}</td>
                </tr>
                <tr>
                  <td height="50px" colspan="3"></td>
                </tr>
                <tr>
                  <td colspan="3">
                    <p>Menyetujui,</p>
                    <p>Direktur Lembaga Pengabdian dan Pemberdayaan Masyarakat</p>
                    <p>( LP2M )- ITI</p>
                  </td>
                </tr>
                <tr>
                  <td height="70px" colspan="3"></td>
                </tr>
                <tr>
                  <td colspan="3">
                    <p>{{this.pengurus.name}}</p>
                    <p>NIDN : {{this.pengurus.nidn}}</p>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import jsPDF from "jspdf";
import "jspdf-autotable";
import html2canvas from "html2canvas";

export default {
  name: "HelloWorld",
  props: {
    msg: String
  },
  data() {
    return {
      tanggal: this.getDate(),
      comboProdi: [],
      pengurus: [],
      loading: false,
      generate: false,
      prodi: {
        nama_prodi: "",
        nidn: "",
        name: "",
        gelar: ""
      },
      search: {
        prodi: "",
        kode: ""
      },
      dataAbdimas: [],
      ketua: {
        name: "Ir. Sumiarti, M.Kom",
        nidn: "0310096101",
        pangkat: "Lektor Kepala",
        jurusan: "Informatika  (IF)",
        hp: "08129234100",
        email: "sumiarti.andri@iti.ac.id"
      },
      anggota: [
        {
          name: "Ir. Sumiarti, M.Kom",
          nidn: "0310096101",
          pangkat: "Lektor Kepala",
          jurusan: "Informatika  (IF)",
          hp: "08129234100",
          email: "sumiarti.andri@iti.ac.id"
        }
      ]
    };
  },
  created() {
    this.ddProdis().then(() => {
      this.comboProdi = this.$store.state.prodi.ddProdis;
    });
    this.getPengurus().then(() => {
      this.pengurus = this.$store.state.pengurus.pengurus;
    });
  },
  computed: {
    ...mapState("surat", {
      surat: state => state.surats
    })
  },
  methods: {
    ...mapActions("prodi", ["ddProdis"]),
    ...mapActions("pengurus", ["getPengurus"]),
    ...mapActions("surat", ["getPengesahan"]),

    generateSurat() {
      this.loading = true;
      this.generate = false;
      this.getProdiDosen();
      this.getPengesahan(this.search).then(() => {
        this.loading = false;
        this.$nextTick(() => {
          this.generate = true;
        });
      });
    },

    formatRupiah(angka) {
      const intAngka = parseInt(angka);
      var number_string = angka.replace(/[^,\d]/g, "").toString(),
        split = number_string.split(","),
        sisa = split[0].length % 3,
        rupiah = split[0].substr(0, sisa),
        ribuan = split[0].substr(sisa).match(/\d{3}/gi);

      // tambahkan titik jika yang di input sudah menjadi angka ribuan
      if (ribuan) {
        const separator = sisa ? "." : "";
        rupiah += separator + ribuan.join(".");
      }

      rupiah = split[1] != undefined ? rupiah + "," + split[1] : rupiah;
      return "Rp. " + rupiah + ",-";
    },

    getProdiDosen() {
      this.prodi = this.comboProdi.find(x => x.id === this.search.prodi);
    },

    getDate() {
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1;
      var bln = "";

      var yyyy = today.getFullYear();
      if (dd < 10) {
        dd = "0" + dd;
      }
      if (mm < 10) {
        mm = "0" + mm;
      }
      switch (mm) {
        case "01":
          bln = "Januari";
          break;
        case "02":
          bln = "Febuari";
          break;
        case "03":
          bln = "Maret";
          break;
        case "04":
          bln = "April";
          break;
        case "05":
          bln = "Mei";
          break;
        case "06":
          bln = "Juni";
          break;
        case "07":
          bln = "Juli";
          break;
        case "08":
          bln = "Agustus";
          break;
        case "09":
          bln = "September";
          break;
        case "10":
          bln = "Oktober";
          break;
        case "11":
          bln = "November";
          break;
        default:
          bln = "Desember";
          break;
      }
      //   return yyyy + "-" + mm + "-" + dd;
      return dd + " " + bln + " " + yyyy;
    },
    download() {
      window.print();
    }
  }
};
</script>

<style scoped>
.surat {
  padding: 20px;
  max-width: 794px;
  margin: auto !important;
}
.surat td {
  vertical-align: top;
}
/* .surat h2,
h3 {

} */

@media print {
  body * {
    visibility: hidden;
  }
  .main-footer {
    visibility: hidden;
  }
  footer * {
    visibility: hidden;
  }
  .surat {
    max-width: none;
  }
  #anggota {
    margin-left: -128px !important;
  }
  #headerSurat,
  #headerSurat * {
    display: none;
  }

  #kopsurat,
  #kopsurat * {
    visibility: visible;
  }
  #kopsurat {
    /* position: absolute; */
    left: 0;
    top: 0;
    margin-top: -50px;
  }
}
.persetujuan td {
  text-align: center;
}
.isiSurat {
  margin-left: 100px;
  margin-right: 50px;
}
.isiSurat td {
  padding: 2px 5px 2px 5px;
  /* font-size: 12px; */
}

@page {
  size: auto; /* auto is the initial value */
  margin: 50px 0px 100px 0px; /* this affects the margin in the printer settings */
}
</style>
