<template>
  <section class="content">
    <div class="box">
      <div class="box-header with-border" id="headerSurat">
        <br />
        <!-- <el-button size="small" type="primary" @click="handleCreate()" icon="el-icon-edit">Add New</el-button> -->
        <el-row>
          <el-col :span="12">
            <el-form ref="dataForm" label-position="top" label-width="100px" style="width: 80%;">
              <el-form-item label="Prodi Jurusan" label-position="top">
                <el-select v-model="search.prodi" placeholder="Please select">
                  <el-option
                    v-for="item in comboProdi"
                    :key="item.id"
                    :label="'['+item.kode_prodi+'] '+item.nama_prodi"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-form>

            <el-form ref="dataForm" label-position="top" label-width="100px" style="width: 80%;">
              <el-form-item label="Semester" label-position="top">
                <el-select v-model="search.semester" placeholder="Please select">
                  <el-option
                    v-for="item in comboSemester"
                    :key="item.id"
                    :label="item.semester"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>

              <el-form-item label="No Surat Tugas">
                <el-input
                  type="text"
                  v-model="no_surat"
                  placeholder="032/ST-ABD/LP2M-ITI/VIII/2019"
                />
              </el-form-item>
            </el-form>
            <el-button type="primary" @click="generateSurat()" icon="el-icon-edit">generate</el-button>
            <el-button size="small" type="primary" @click="download()" icon="el-icon-edit">Print</el-button>
          </el-col>
          <el-col :span="12">
            <!-- <el-input type="text" placeholder="search" v-model="search" /> -->
          </el-col>
        </el-row>
      </div>
      <div class="box-body">
        <div class="surat" v-if="generate" v-loading="loading">
          <div id="kopsurat" ref="kopsurat" class="portrait">
            <!-- <table width="95%">
              <tr>
                <td width="10%">
                  <img :src="'/img/iti-logo.png'" alt="image" width="100px" />
                </td>
                <td width="10px"></td>
                <td>
                  <h2 style="margin-top: 0px;margin-bottom: 0px;">INSTITUT</h2>
                  <h2 style="margin-top: 0px;margin-bottom: 0px;">TEKNOLOGI</h2>
                  <h2 style="margin-top: 0px;margin-bottom: 0px;">INDONESIA</h2>
                </td>
                <td width="10%"></td>
                <td align="center" width="50%">
                  <h3 style="font-weight:bold;margin-top: 0px;margin-bottom: 0px;">KAMPUS</h3>
                  <h4 style="margin-top: 0px;margin-bottom: 0px;">Jl. Raya Puspiptek Serpong</h4>
                  <h4 style="margin-top: 0px;margin-bottom: 0px;">Tangerang - Selatan 15320</h4>
                  <h4
                    style="margin-top: 0px;margin-bottom: 0px;"
                  >(021) 7560542 - 7560545 Fax. (021) 7560542</h4>
                </td>
              </tr>
            </table>-->
            <!-- <hr style="border-top: 2px solid black;" />
            <h3 style="font-weight:bold;text-decoration: underline;" align="center">SURAT TUGAS</h3>
            <h4 align="center">No :032/ST-ABD/LP2M-ITI/VIII/2019</h4>
            <b></b>-->
            <h3
              style="font-weight:bold;text-decoration: underline;"
              align="center"
              ref="surattugas"
            >SURAT TUGAS</h3>
            <h5 align="center" ref="nosurat">No : {{this.no_surat}}</h5>
            <table id="testTable" ref="content">
              <tbody>
                <tr>
                  <td valign="top">Pertimbangan</td>
                  <td valign="top">:</td>
                  <td align="justify">
                    Bahwa dalam rangka melaksanakan Kegiatan Pengabdian kepada Masyarakat Dosen
                    {{this.prodi.nama_prodi}} Institut Teknologi Indonesia
                    {{this.semester.semester}} ,maka dengan ini perlu dikeluarkan surat tugas
                  </td>
                </tr>
                <tr>
                  <td colspan="3"></td>
                </tr>
                <tr>
                  <td>Dasar</td>
                  <td>:</td>
                  <td>1. Kepentingan ITI</td>
                </tr>
                <tr>
                  <td
                    colspan="3"
                    height="50px"
                    style="text-align:center;font-weight:bold;vertical-align: middle;padding-top:20px;padding-bottom:10px;font-size:16px"
                  >
                    <br />D I T U G A S K A N
                    <br />
                  </td>
                </tr>
                <tr>
                  <td valign="top">Kepada</td>
                  <td valign="top">:</td>
                  <td align="justify">
                    1. Dosen Prodi
                    {{this.prodi.nama_prodi}} (Terlampir)
                  </td>
                </tr>
                <tr>
                  <td valign="top">Untuk</td>
                  <td valign="top">:</td>
                  <td>
                    1. Melaksanakan Kegiatan Pengabdian kepada Masyarakat pada
                    {{this.semester.semester}}
                  </td>
                </tr>
                <tr>
                  <td valign="top"></td>
                  <td valign="top"></td>
                  <td>2. Melaporkan hasil tugas kepada Direktur LP2M-ITI.</td>
                </tr>
                <tr>
                  <td valign="top"></td>
                  <td valign="top"></td>
                  <td>3. Dilaksanakan dengan penuh rasa tanggung jawab.</td>
                </tr>
              </tbody>
            </table>

            <table id="persetujuan" align="right">
              <tbody>
                <tr>
                  <td></td>
                  <td colspan="2" style="padding-top:10px"></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td style="text-align:right;">
                    <span>Tangerang Selatan, {{this.tanggal}}</span>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td style="text-align:center">Lembaga Pengabdian</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td style="text-align:center">dan Pemberdayaan Masyarakat</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td style="text-align:center">Direktur</td>
                </tr>
                <tr>
                  <td colspan="3" height="30px"></td>
                </tr>
                <tr>
                  <td colspan="3" height="30px"></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td style="text-align:center;">
                    <p>( {{this.pengurus.name}} )</p>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="tembusan">
              Tambusan Yth.
              <ol>
                <li>Wakil Rektor Bid. Sumberdaya, Bisnis dan Kerjasama</li>
                <li>Ka. Divisi SDM</li>
                <li>
                  Prodi
                  {{this.prodi.nama_prodi}}
                </li>
                <li>Arsip</li>
              </ol>
            </div>
          </div>
          <!-- TABLE BUAT REKAP -->
          <!-- <div class="pagebreak abdimas landscape"> -->
          <table border="1px" id="abdimas" ref="abdimas">
            <thead>
              <th>No</th>
              <th>TOPIK ABDIMAS</th>
              <th>BIDANG</th>
              <th>NAMA DOSEN</th>
              <th>SUMBER DANA</th>
              <th>JABATAN (KETUA/ANGGOTA)</th>
              <th>KETERLIBATAN PRODI/INSTITUSI LAIN</th>
              <th>DANA</th>
              <th>SKA</th>
              <th>KETERLIBATAN MAHASISWA</th>
            </thead>
            <tbody>
              <tr v-for="(data,index) in surat" v-bind:key="index">
                <td>{{index+1}}</td>
                <td>{{data.judul}}</td>
                <td>{{data.bidang}}</td>
                <td>{{data.name}}</td>
                <td>{{data.dana}}</td>
                <td>{{data.jabatan}}</td>
                <td>{{data.keterlibatan}}</td>
                <td>{{data.jumlah}}</td>
                <td>{{data.SKA}}</td>
                <td>{{data.mahasiswa}}</td>
              </tr>
            </tbody>
          </table>
          <!-- </div> -->
          <!-- END TABLE REKAP -->
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import jsPDF from "jspdf";
import "jspdf-autotable";

export default {
  data() {
    return {
      tanggal: this.getDate(),
      search: "",
      loading: false,
      generate: false,
      dataAbdimas: [],
      comboProdi: [],
      comboSemester: [],
      pengurus: [],
      no_surat: "",
      prodi: [],
      semester: [],
      search: {
        prodi: "",
        semester: ""
      }
    };
  },
  created() {
    this.ddProdis().then(() => {
      this.comboProdi = this.$store.state.prodi.ddProdis;
    });
    this.getPengurus().then(() => {
      this.pengurus = this.$store.state.pengurus.pengurus;
    });
    this.ddSemesters().then(() => {
      this.comboSemester = this.$store.state.semester.ddSemesters;
    });
  },
  computed: {
    ...mapState("surat", {
      surat: state => state.surats
    })
  },
  methods: {
    ...mapActions("prodi", ["ddProdis"]),
    ...mapActions("pengurus", ["getPengurus"]),
    ...mapActions("semester", ["ddSemesters"]),
    ...mapActions("surat", ["getSuratTugas"]),

    generateSurat() {
      this.loading = true;
      this.generate = false;
      this.findSemester();
      this.getProdiDosen();
      this.getSuratTugas(this.search).then(() => {
        this.dataAbdimas = this.$store.state.surat.surats;
        this.loading = false;
        this.$nextTick(() => {
          this.generate = true;
        });
      });
    },

    findSemester() {
      this.semester = this.comboSemester.find(
        x => x.id === this.search.semester
      );
    },

    getProdiDosen() {
      this.prodi = this.comboProdi.find(x => x.id === this.search.prodi);
    },

    getDate() {
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1;

      var yyyy = today.getFullYear();
      if (dd < 10) {
        dd = "0" + dd;
      }
      if (mm < 10) {
        mm = "0" + mm;
      }
      var bln = "";
      switch (mm) {
        case "01":
          bln = "Januari";
          break;
        case "02":
          bln = "Febuari";
          break;
        case "03":
          bln = "Maret";
          break;
        case "04":
          bln = "April";
          break;
        case "05":
          bln = "Mei";
          break;
        case "06":
          bln = "Juni";
          break;
        case "07":
          bln = "Juli";
          break;
        case "08":
          bln = "Agustus";
          break;
        case "09":
          bln = "September";
          break;
        case "10":
          bln = "Oktober";
          break;
        case "11":
          bln = "November";
          break;
        default:
          bln = "Desember";
          break;
      }
      //   return yyyy + "-" + mm + "-" + dd;
      return dd + " " + bln + " " + yyyy;
    },
    download() {
      var img = new Image();
      img.src = require("../../../../public/img/kop-surat.jpg");

      var doc = new jsPDF("p", "pt", "a4");
      var width = doc.internal.pageSize.getWidth();
      var height = doc.internal.pageSize.getHeight();
      doc.addImage(img, "jpeg", 0, 0, width, 100);
      doc.setFontSize(14);
      doc.text(width / 2, 120, "SURAT TUGAS", { align: "center" });
      const noSurat = "No : " + this.no_surat;
      doc.setFontSize(12);
      doc.text(width / 2, 140, noSurat, {
        align: "center"
      });

      var elem = document.getElementById("testTable");
      var persetujuanTTD = document.getElementById("persetujuan");
      doc.autoTable({
        html: elem,
        theme: "plain",
        useCss: true,
        margin: { top: 150, horizontal: 80, bottom: 60 },
        styles: {
          cellPadding: 3,
          minCellHeight: 10,
          valign: "center",
          fontSize: 12,
          textColor: 0
        },
        columnStyles: {
          0: { cellWidth: doc.internal.pageSize.getWidth() * 0.17 },
          1: { cellWidth: doc.internal.pageSize.getWidth() * 0.03 },
          2: { cellWidth: doc.internal.pageSize.getWidth() * 0.6 }
        }
      });
      doc.setFontSize(10);
      doc.text(80, 650, "Tembusan Yth.");
      doc.text(
        80,
        660,
        "1.   Wakil Rektor Bid. Sumberdaya, Bisnis dan Kerjasama"
      );
      doc.text(80, 670, "2.   Ka. Divisi SDM");
      doc.text(80, 680, "3.   Prodi " + this.prodi.nama_prodi);
      doc.text(80, 690, "4.   Arsip");

      doc.autoTable({
        html: persetujuanTTD,
        theme: "plain",
        useCss: true,
        margin: { top: 300, horizontal: 40, bottom: 60 },
        styles: {
          cellPadding: 3,
          minCellHeight: 10,
          valign: "top",
          fontSize: 12,
          textColor: 0
        },
        columnStyles: {
          0: { cellWidth: doc.internal.pageSize.getWidth() * 0.2 },
          1: { cellWidth: doc.internal.pageSize.getWidth() * 0.35 },
          2: { cellWidth: doc.internal.pageSize.getWidth() * 0.3 }
        }
      });
      doc.addPage("a4", "lanscape");
      //   var abdimas = document.getElementById("abdimas");
      // head: [['Name', 'Email', 'Country']],
      // body: [
      //     ['David', 'david@example.com', 'Sweden'],
      //     ['Castille', 'castille@example.com', 'Norway'],
      //     // ...
      // ]
      var widthLanscape = doc.internal.pageSize.getWidth();
      //   var height = doc.internal.pageSize.getHeight();
      doc.text(widthLanscape / 2, 30, "Lampiran Surat Tugas", {
        align: "center"
      });
      doc.text(widthLanscape / 2, 45, noSurat, {
        align: "center"
      });
      doc.text(widthLanscape / 2, 60, this.tanggal, {
        align: "center"
      });
      const keterangan =
        "DAFTAR ABDIMAS DOSEN PROGRAM STUDI " +
        this.prodi.nama_prodi +
        "" +
        this.semester.semester;
      doc.text(widthLanscape / 2, 75, keterangan, {
        align: "center"
      });
      const bodyTable = [];
      this.dataAbdimas.map((item, index) =>
        bodyTable.push({
          no: index + 1,
          judul: item.judul,
          bidang: item.bidang,
          name: item.name,
          sumber_dana: item.dana,
          jabatan: item.jabatan,
          keterlibatan: item.keterlibatan,
          dana: item.jumlah,
          SKA: item.SKA,
          mahasiswa: item.mahasiswa
        })
      );
      doc.autoTable({
        // html: abdimas,
        theme: "striped",
        // useCss: true,
        margin: { top: 80, horizontal: 40, bottom: 60 },
        // head: [headTable],
        columns: [
          { header: "No", dataKey: "no" },
          { header: "TOPIK ABDIMAS", dataKey: "judul" },
          { header: "BIDANG", dataKey: "bidang" },
          { header: "NAMA DOSEN", dataKey: "name" },
          { header: "SUMBER DANA", dataKey: "sumber_dana" },
          { header: "JABATAN (KETUA/ANGGOTA)", dataKey: "jabatan" },
          {
            header: "KETERLIBATAN PRODI/INSTITUSI LAIN",
            dataKey: "keterlibatan"
          },
          { header: "DANA", dataKey: "dana" },
          { header: "SKA", dataKey: "SKA" },
          { header: "KETERLIBATAN MAHASISWA", dataKey: "mahasiswa" }
        ],
        body: bodyTable,
        pageBreak: "auto", // 'auto', 'avoid' or 'always'
        tableWidth: "auto",
        styles: {
          cellPadding: 5,
          minCellWidth: 20,
          minCellHeight: 10,
          valign: "top",
          fontSize: 8
          //   textColor: 0
        },
        columnStyles: {
          0: { cellWidth: 20 },
          1: { cellWidth: 250 },
          2: { cellWidth: "wrap" },
          3: { cellWidth: "wrap" },
          4: { cellWidth: "wrap" },
          5: { cellWidth: "wrap" },
          6: { cellWidth: "wrap" },
          7: { cellWidth: "wrap" },
          8: { cellWidth: 40 },
          9: { cellWidth: "wrap" }
        }
      });

      doc.autoTable({
        html: persetujuanTTD,
        theme: "plain",
        useCss: false,
        margin: { top: 200, horizontal: 40, bottom: 10 },
        styles: {
          cellPadding: 3,
          minCellHeight: 10,
          halign: "center",
          valign: "top",
          fontSize: 6,
          textColor: 0
        },
        columnStyles: {
          0: { cellWidth: widthLanscape * 0.2 },
          1: { cellWidth: widthLanscape * 0.45 },
          2: { cellWidth: widthLanscape * 0.2 }
        }
      });
      doc.save("Surat Tugas " + this.no_surat + ".pdf");
      //   window.print();
    }
  }
};
</script>

<style scoped>
.surat {
  padding: 20px;
}
/* .surat h2,
h3 {

} */

@media print {
  body * {
    visibility: hidden;
  }
  .main-footer {
    visibility: hidden;
  }
  footer * {
    visibility: hidden;
  }

  #headerSurat,
  #headerSurat * {
    display: none;
  }

  .abdimas {
    /* display: block; */
    /* transform: rotate(270deg); */
    /* position: absolute; */
    font-size: 10px;
    margin: 10 10 10 10;
  }
  /* @page abdimas {
    size: landscape;
  } */
  #kopsurat,
  #kopsurat * {
    visibility: visible;
  }
  #kopsurat {
    /* position: absolute; */
    left: 0;
    top: 0;
    margin-top: -50px;
  }

  /* div.portrait,
  div.landscape {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
  }
  div.landscape {
    transform: rotate(270deg) translate(-276mm, 0);
    transform-origin: 0 0;
  } */
}

.abdimas th {
  text-align: center;
}
.abdimas td {
  padding: 2px 5px 2px 5px;
}
.persetujuan p {
  text-align: center;
  margin: 0 0 0 0;
}
.tembusan {
  margin-top: 170px;
  margin-left: 50px;
  margin-right: 50px;
}
.tembusan ol {
  padding-left: 13px;
}
.tembusan li {
  padding-left: 15px;
}
.isiSurat {
  margin-left: 50px;
  margin-right: 50px;
}
.isiSurat td {
  padding: 2px 5px 2px 5px;
  /* font-size: 12px; */
}

@page {
  size: auto; /* auto is the initial value */
  margin: 50px 0px 100px 0px; /* this affects the margin in the printer settings */
}

/* page break */
.pagebreak {
  page-break-before: always;
}
</style>
