<template>
  <!-- Main content -->
  <section class="content" v-loading="loading.component">
    <!-- Default box -->
    <div class="box">
      <div class="box-header with-border">
        <br />
        <el-row>
          <el-col :span="8">
            <el-button
              size="small"
              type="primary"
              @click="handleCreate()"
              icon="el-icon-edit"
            >Add New</el-button>
          </el-col>
          <el-col :span="16">
            <el-input type="text" placeholder="search from nidn or name" v-model="search" />
            <!-- <el-button
              size="small"
              type="primary"
              @click="handleCreate()"
              icon="el-icon-edit"
            >Add New</el-button>-->
          </el-col>
        </el-row>
      </div>
      <div class="box-body">
        <el-table
          :data="dosen"
          border
          style="width: 100%"
          empty-text="No Data"
          v-loading="loading.table"
        >
          <el-table-column label="No" width="50">
            <template slot-scope="scope">{{(list.page-1)*list.limit + scope.$index+1}}</template>
          </el-table-column>

          <el-table-column label="NIDN" width="100">
            <template slot-scope="{row}">
              <router-link :to="{name:'dosen.profil', params: {id: row.user}}">{{row.nidn}}</router-link>
            </template>
          </el-table-column>

          <el-table-column label="Nama" min-width="200">
            <template slot-scope="{row}">
              <router-link
                :to="{name:'dosen.profil', params: {id: row.user}}"
              >{{row.name + ' .'+ row.gelar}}</router-link>
            </template>
          </el-table-column>

          <el-table-column label="Kepangkatan" width="180">
            <template slot-scope="{row}">{{row.pangkat}}</template>
          </el-table-column>

          <el-table-column label="Tanggal Lahir" width="120">
            <template slot-scope="{row}">{{row.tgl_lahir}}</template>
          </el-table-column>

          <el-table-column label="Email" min-width="180">
            <template slot-scope="{row}">{{row.email}}</template>
          </el-table-column>

          <el-table-column label="Telp" min-width="180">
            <template slot-scope="{row}">{{row.telp}}</template>
          </el-table-column>

          <el-table-column label="Alamat" min-width="180">
            <template slot-scope="{row}">{{row.alamat}}</template>
          </el-table-column>

          <!-- <el-table-column label="Aksi" width="100">
            <template slot-scope="{row}">
              <router-link :to="{name:'dosen.profil', params: {id: row.user}}">
                <el-button size="small" type="primary">Profil</el-button>
              </router-link>
            </template>
          </el-table-column>-->
        </el-table>

        <pagination
          :total="list.total"
          :page.sync="list.page"
          :limit.sync="list.limit"
          @pagination="getTable"
        />

        <!-- FORM DIALOG -->
        <el-dialog :title="dialogStatus" :visible.sync="dialogVisible">
          <el-form
            ref="dataForm"
            :model="temp"
            label-position="top"
            label-width="100px"
            style="width: 90%; margin-left:5%;"
          >
            <!-- ITEM FORM -->
            <el-form-item label="NIDN">
              <el-input v-model="temp.nidn" />
            </el-form-item>

            <el-form-item label="Prodi Jurusan" label-position="top">
              <el-select v-model="temp.prodi" placeholder="Please select">
                <el-option
                  v-for="item in comboProdi"
                  :key="item.id"
                  :label="'['+item.kode_prodi+'] '+item.nama_prodi"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>

            <el-form-item label="Nama">
              <el-input v-model="temp.name" />
            </el-form-item>

            <el-form-item label="Gelar">
              <el-input v-model="temp.gelar" placeholder="M.Kom" />
            </el-form-item>

            <el-form-item label="Tgl Lahir">
              <el-date-picker
                v-model="temp.tgl_lahir"
                type="date"
                placeholder="Pick a date"
                :default-value="getDate()"
              ></el-date-picker>
            </el-form-item>

            <el-form-item label="Email">
              <el-input v-model="temp.email" />
            </el-form-item>

            <el-form-item label="Telp">
              <el-input v-model="temp.telp" />
            </el-form-item>

            <el-form-item label="Password">
              <el-input type="password" v-model="temp.pasword" />
            </el-form-item>

            <el-form-item label="Kepangkatan">
              <!-- <el-input v-model="temp.kepangkatan" :readonly="pageDisable" /> -->
              <el-select v-model="temp.pangkat" placeholder="Please select">
                <el-option
                  v-for="item in comboKepangkatan"
                  :key="item.id"
                  :label="item.pangkat"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>

            <el-form-item label="Alamat">
              <el-input type="textarea" rows="3" v-model="temp.alamat" />
            </el-form-item>
          </el-form>
          <!-- BUTTON ACTION -->
          <div slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">Cancel</el-button>
            <el-button
              type="primary"
              @click="dialogStatus==='create'?createData():updateData()"
            >{{ dialogStatus==='create'?'Save':'Update' }}</el-button>
          </div>
        </el-dialog>
        <!-- DELETE DIALOG -->
        <el-dialog title="Delete" :visible.sync="deleteFormVisible" width="30%">
          <span>Are you sure want to delete this data ?</span>
          <span slot="footer" class="dialog-footer">
            <el-button @click="deleteFormVisible = false">Cancel</el-button>
            <el-button type="danger" @click="deleteData()">delete</el-button>
          </span>
        </el-dialog>
      </div>
      <!-- /.box-body -->
      <!-- <div class="box-footer">Footer</div> -->
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content-wrapper -->
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  created() {
    this.ddProdis().then(() => {
      this.comboProdi = this.$store.state.prodi.ddProdis;
    });
    this.getTable();
    this.getComboKepangkatan();
  },
  data() {
    return {
      dialogVisible: false,
      deleteFormVisible: false,
      loading: {
        component: true,
        table: false
      },
      dialogStatus: "",
      search: "",
      comboProdi: [],
      comboKepangkatan: [],
      temp: {
        id: "",
        nidn: "",
        prodi: "",
        name: "",
        password: "",
        gelar: "",
        tgl_lahir: "",
        email: "",
        telp: "",
        pangkat: "",
        alamat: "",
        role: 2
      },
      list: {
        keyword: "",
        page: 1,
        limit: 5,
        total: 0
      }
    };
  },
  watch: {
    search() {
      this.list.keyword = this.search;
      this.getTable();
    }
  },
  computed: {
    ...mapState("dosen", {
      dosen: state => state.dosens
    })
  },
  methods: {
    ...mapMutations("dosen", ["SET_ID_UPDATE"]),
    ...mapActions("prodi", ["ddProdis"]),
    ...mapActions("kepangkatan", ["ddKepangkatans"]),
    ...mapActions("dosen", [
      "getDosens",
      "addDosens",
      "updateDosens",
      "deleteDosens"
    ]),

    getTable() {
      this.loading.table = true;
      this.getDosens(this.list).then(result => {
        this.list = {
          page: result.current_page,
          limit: parseInt(result.per_page),
          total: result.total
        };
        this.loading.table = false;
      });
      this.loading.component = false;
    },

    getComboKepangkatan() {
      this.ddKepangkatans().then(() => {
        this.comboKepangkatan = this.$store.state.kepangkatan.ddKepangkatans;
      });
    },

    getDate() {
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1;

      var yyyy = today.getFullYear();
      if (dd < 10) {
        dd = "0" + dd;
      }
      if (mm < 10) {
        mm = "0" + mm;
      }
      return yyyy + "-" + mm + "-" + dd;
    },

    clearTemp() {
      this.temp = {
        id: "",
        nidn: "",
        prodi: "",
        nama: "",
        tgl_lahir: "",
        email: "",
        pangkat: "",
        alamat: "",
        role: 2
      };
    },

    handleCreate() {
      this.clearTemp();
      this.dialogStatus = "create";
      this.dialogVisible = true;
    },

    createData() {
      this.addDosens(this.temp).then(() => {
        this.$notify({
          title: "Success",
          message: "Create Successfully",
          type: "success"
        });
        this.dialogVisible = false;
        this.getTable();
      });
    },

    handleUpdate(row) {
      this.SET_ID_UPDATE(row.id);
      this.temp = {
        dana: row.dana,
        bobot: row.bobot
      };
      this.dialogStatus = "update";
      this.dialogVisible = true;
    },

    updateData() {
      this.updateDosens(this.temp).then(() => {
        this.$notify({
          title: "Success",
          message: "Update Successfully",
          type: "success"
        });
        this.dialogVisible = false;
        this.getTable();
      });
    },

    handleDelete(id) {
      this.deleteFormVisible = true;
      this.temp.id = id;
    },

    deleteData() {
      this.deleteDosens(this.temp.id).then(() => {
        this.$notify({
          title: "Success",
          message: "Delete Successfully",
          type: "success"
        });
        this.deleteFormVisible = false;
        this.clearTemp();
        this.getTable();
      });
    }
  }
};
</script>

<style>
.el-form-item {
  margin-bottom: 10px !important;
}
.el-form-item__label {
  padding: 0px !important;
}
</style>
