<template>
  <section class="content">
    <div class="box" style="margin-top:10px" v-loading="loading">
      <div class="box-header">
        <span style="font-size:30px;">{{this.temp.name}}</span>
        <div
          style="float:right;margin-right:5%"
          v-if="role === 1 || this.temp.id === this.$store.state.auth.userId"
        >
          <el-button
            type="warning"
            icon="el-icon-edit"
            v-if="pageDisable"
            @click="disablePage()"
          >Edit</el-button>
          <el-button type="primary" v-else @click="updateDataDosens()">
            <i class="fa fa-save"></i> Save
          </el-button>
        </div>
      </div>

      <div class="box-body">
        <!-- BODY PROFILE -->
        <div>
          <el-form
            ref="dataForm"
            :model="temp"
            label-position="top"
            label-width="100px"
            style="width: 90%; margin-left:5%;"
          >
            <!-- ITEM FORM -->
            <el-form-item label="NIDN">
              <el-input v-model="temp.nidn" :readonly="pageDisable" />
            </el-form-item>

            <el-form-item label="Nama Dosen">
              <el-input v-model="temp.name" :readonly="pageDisable" />
            </el-form-item>

            <el-form-item label="Email">
              <el-input v-model="temp.email" :readonly="pageDisable" />
            </el-form-item>

            <el-form-item label="Telp">
              <el-input v-model="temp.telp" :readonly="pageDisable" />
            </el-form-item>

            <el-form-item label="Gelar">
              <el-input v-model="temp.gelar" :readonly="pageDisable" />
            </el-form-item>

            <el-form-item label="Prodi Jurusan" label-position="top">
              <el-select v-model="temp.prodi" placeholder="Please select" :disabled="pageDisable">
                <el-option
                  v-for="item in comboProdi"
                  :key="item.id"
                  :label="'['+item.kode_prodi+'] '+item.nama_prodi"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>

            <el-form-item label="Kepangkatan">
              <el-select
                v-model="temp.kepangkatan"
                placeholder="Please select"
                :disabled="pageDisable"
              >
                <el-option
                  v-for="item in comboKepangkatan"
                  :key="item.id"
                  :label="item.pangkat"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>

            <el-form-item label="Alamat">
              <el-input type="textarea" v-model="temp.alamat" :readonly="pageDisable" />
            </el-form-item>
          </el-form>

          <h4 style="width: 80%;margin-left:5%;">
            Pendidikan
            <el-button icon="el-icon-edit" circle v-if="!pageDisable" @click="handleCreate()" />
          </h4>
          <el-table
            :data="temp.pendidikan"
            border
            fit
            highlight-current-row
            style="width: 90%;margin-left:5%"
          >
            <el-table-column label="Tingkat" min-width="150px">
              <template slot-scope="{row}">
                <span>{{ row.tingkat }}</span>
              </template>
            </el-table-column>
            <el-table-column label="Universitas" min-width="150px">
              <template slot-scope="{row}">
                <span>{{ row.univ }}</span>
              </template>
            </el-table-column>
            <el-table-column label="Jurusan" min-width="150px">
              <template slot-scope="{row}">
                <span>{{ row.jurusan }}</span>
              </template>
            </el-table-column>
            <!-- <el-table-column label="Aksi" width="150px" v-if="!pageDisable">
              <template slot-scope="{row}">
                <el-button size="small" type="warning" @click="handleUpdate(row)">Edit</el-button>
                <el-button size="small" type="danger" @click="handleDelete(row.id)">Delete</el-button>
              </template>
            </el-table-column>-->
          </el-table>
        </div>
      </div>
      <el-dialog :title="dialogStatus" :visible.sync="dialogVisible">
        <el-form
          ref="dataForm"
          :model="temp"
          label-position="top"
          label-width="100px"
          style="width: 90%; margin-left:5%;"
        >
          <!-- ITEM FORM -->
          <el-form-item label="Pendidikan">
            <el-select v-model="tempPendidikan.pendidikan" placeholder="Please select">
              <el-option
                v-for="item in comboPendidikan"
                :key="item.id"
                :label="item.tingkat"
                :value="item.id"
              />
            </el-select>
          </el-form-item>

          <el-form-item label="Universitas">
            <el-input v-model="tempPendidikan.univ" :readonly="pageDisable" />
          </el-form-item>
          <el-form-item label="Jurusan">
            <el-input v-model="tempPendidikan.jurusan" :readonly="pageDisable" />
          </el-form-item>
        </el-form>
        <!-- BUTTON ACTION -->
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">Cancel</el-button>
          <el-button
            type="primary"
            @click="dialogStatus==='create'?createData():updateData()"
          >{{ dialogStatus==='create'?'Save':'Update' }}</el-button>
        </div>
      </el-dialog>
    </div>
  </section>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  created() {
    this.temp.user = this.$route.params.id;
    this.role = this.$store.state.auth.role;
    this.ddProdis().then(() => {
      this.comboProdi = this.$store.state.prodi.ddProdis;
    });
    this.getComboKepangkatan();
    this.getDataDosen();
  },
  data() {
    return {
      loading: true,
      pageDisable: true,
      dialogVisible: false,
      dialogStatus: "",
      comboProdi: [],
      comboKepangkatan: [],
      comboPendidikan: [],
      role: 0,
      tempPendidikan: {
        dosen: "",
        pendidikan: "",
        univ: "",
        jurusan: ""
      },
      temp: {
        id: "",
        user: "",
        nidn: "",
        prodi: "",
        name: "",
        email: "",
        telp: "",
        gelar: "",
        pangkat: "",
        alamat: "",
        pendidikan: []
      }
    };
  },
  methods: {
    ...mapMutations("dosen", ["SET_ID_UPDATE"]),
    ...mapActions("prodi", ["ddProdis"]),
    ...mapActions("dosen", ["profilDosens", "updateDosens"]),
    ...mapActions("kepangkatan", ["ddKepangkatans"]),
    ...mapActions("pendidikan", ["ddPendidikans", "addPendidikanDosens"]),

    disablePage() {
      this.pageDisable = !this.pageDisable;
    },

    clearTemp() {
      this.tempPendidikan = {
        dosen: this.temp.id,
        pendidikan: "",
        univ: "",
        jurusan: ""
      };
    },

    handleCreate() {
      this.clearTemp();
      this.dialogStatus = "create";
      this.dialogVisible = true;
    },

    // handleUpdate(row) {
    //   this.SET_ID_UPDATE(row.id);
    //   this.temp = {
    //     pendidikan: row.pendidikan,
    //     univ: row.univ,
    //     jurusan: row.jurusan
    //   };
    //   this.dialogStatus = "update";
    //   this.dialogVisible = true;
    // },

    createData() {
      this.addPendidikanDosens(this.tempPendidikan).then(() => {
        this.$notify({
          title: "Success",
          message: "Create Successfully",
          type: "success"
        });
        this.dialogVisible = false;
        this.getDataDosen();
      });
    },

    getComboKepangkatan() {
      this.ddKepangkatans().then(() => {
        this.comboKepangkatan = this.$store.state.kepangkatan.ddKepangkatans;
      });
      this.ddPendidikans().then(() => {
        this.comboPendidikan = this.$store.state.pendidikan.ddPendidikans;
      });
    },

    getDataDosen() {
      this.loading = true;
      this.profilDosens(this.temp.user).then(() => {
        this.temp = this.$store.state.dosen.dosens;
        this.loading = false;
      });
    },

    updateDataDosens() {
      this.loading = true;
      this.SET_ID_UPDATE(this.temp.id);
      this.updateDosens(this.temp).then(() => {
        this.loading = false;
      });
      this.disablePage();
      //   console.log(this.temp);
    }
  }
};
</script>

<style>
.el-form-item {
  margin-bottom: 10px !important;
}
.el-form-item__label {
  padding: 0px !important;
}
.el-select {
  width: 80% !important;
}
</style>
