<template>
  <section class="content">
    <el-steps :active="active" align-center>
      <el-step title="Aspek SDM" description="Dosen dan Anggota Pengabdian "></el-step>
      <el-step title="SD & Pendanaan" description="Sumber Daya dan Pendanaan"></el-step>
      <el-step title="Publikasi & Buku" description="Jenis Publikasi dan Buku Acuan"></el-step>
      <el-step title="Aspek Luaran Mitra" description="Mitra dan Output Mitra"></el-step>
      <el-step title="Typical Output" description="Luaran Iptek Lainnya hasil kegiatan Abdimas"></el-step>
      <el-step title="Aspek Revenue Generating" description="Unit Bisnis dan Royalty"></el-step>
      <el-step title="Document" description="Input Proposal"></el-step>
      <el-step title="Confirmation" description="Checking Data And Confirmation"></el-step>
    </el-steps>
    <div class="box" style="margin-top:10px">
      <div class="box-header">
        <h1>{{this.tabs[active-1]}}</h1>
      </div>

      <!-- Tab Abdimas -->
      <div class="box-body">
        <!-------------------------------- STEP 1 ---------------------------------------->
        <div v-if="active === 1">
          <div>
            <h3>Pengisian Data Dosen</h3>
            <hr />
            <el-form
              ref="dataForm"
              label-position="top"
              label-width="100px"
              :disabled="pageDisable"
              style="width: 80%;"
            >
              <el-form-item label="Judul Pengabdian" label-position="top">
                <el-input v-model="abdimas.judul" />
              </el-form-item>

              <el-form-item label="Tahun" label-position="top">
                <el-select v-model="abdimas.tahun" placeholder="Please select">
                  <el-option v-for="item in comboYear" :key="item" :label="item" :value="item" />
                </el-select>
              </el-form-item>

              <el-form-item label="Bidang" label-position="top">
                <el-input v-model="abdimas.bidang" />
              </el-form-item>

              <el-form-item label="Prodi Jurusan" label-position="top">
                <el-select v-model="abdimas.prodi" placeholder="Please select">
                  <el-option
                    v-for="item in comboProdi"
                    :key="item.id"
                    :label="'['+item.kode_prodi+'] '+item.nama_prodi"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>

              <el-form-item label="Tahun Akademik" label-position="top">
                <el-select v-model="abdimas.semester" placeholder="Please select">
                  <el-option
                    v-for="item in comboSemester"
                    :key="item.id"
                    :label="item.semester"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>

              <el-form-item label="NIDN" label-position="top">
                <el-select
                  v-model="abdimas.dosen"
                  filterable
                  remote
                  :remote-method="getDropdownDosen"
                  class="filter-item"
                  placeholder="Please select"
                  @change="getDosen()"
                >
                  <el-option
                    v-for="item in comboDosen"
                    :key="item.id"
                    :label="item.nidn+' ['+ item.name +']'"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
            </el-form>

            <!-- start deskripsi dosen -->
            <div v-loading="loading.deskripsi">
              <table valign="top" class="dosen">
                <tr class="deskripsi">
                  <td class="side">NIDN</td>
                  <td>
                    <span v-if="this.abdimas.dosen !== '' ">{{this.tempDosen.nidn}}</span>
                  </td>
                </tr>
                <tr class="deskripsi">
                  <td class="side">Nama</td>
                  <td>
                    <span v-if="this.abdimas.dosen !== '' ">{{this.tempDosen.name}}</span>
                  </td>
                </tr>
                <tr class="deskripsi">
                  <td class="side">Pangkat</td>
                  <td>
                    <span v-if="this.abdimas.dosen !== '' ">{{this.tempDosen.pangkat}}</span>
                  </td>
                </tr>
                <tr class="deskripsi">
                  <td class="side" valign="top">Pendidikan</td>
                  <td>
                    <div v-if="this.abdimas.dosen !== '' ">
                      <p
                        v-for="item in this.tempDosen.pendidikan"
                        :key="item.id"
                      >{{item.tingkat + ':'+item.univ+' ['+item.jurusan+']'}}</p>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
            <!-- end deskripsi dosen -->
          </div>
          <div>
            <h3>Data Anggota</h3>
            <hr />
            <el-form
              ref="dataForm"
              label-position="top"
              label-width="100px"
              :disabled="pageDisable"
              style="width: 80%;"
            >
              <el-form-item label="Status Anggota" label-position="top">
                <el-select
                  v-model="tempAnggota.status"
                  placeholder="Please select"
                  @change="tempAnggota.id = ''"
                >
                  <el-option
                    v-for="item in comboAnggota"
                    :key="item.id"
                    :label="item.text"
                    :value="item.id"
                  />
                </el-select>
                <el-tooltip
                  class="item"
                  effect="light"
                  :content="tooltip.status_anggota"
                  placement="right-start"
                >
                  <i class="el-icon-warning-outline" circle />
                </el-tooltip>
              </el-form-item>

              <el-form-item label="Anggota" label-position="top">
                <el-select
                  v-model="tempAnggota.id"
                  filterable
                  remote
                  :remote-method="getDropdownMahasiswa"
                  class="filter-item"
                  placeholder="Please select"
                  v-if="tempAnggota.status === 2"
                  :disabled="tempAnggota.status === ''"
                >
                  <el-option
                    v-for="item in comboMahasiswa"
                    :key="item.id"
                    :label="item.nrp+' ['+ item.name +']'"
                    :value="item.id"
                  />
                </el-select>

                <el-select
                  v-model="tempAnggota.id"
                  filterable
                  remote
                  :remote-method="getDropdownDosen"
                  class="filter-item"
                  placeholder="Please select"
                  v-else
                  :disabled="tempAnggota.status === ''"
                >
                  <el-option
                    v-for="item in comboDosen"
                    :key="item.id"
                    :label="item.nidn+' ['+ item.name +']'"
                    :value="item.id"
                  />
                </el-select>

                <el-tooltip
                  class="item"
                  effect="light"
                  :content="tooltip.anggota"
                  placement="right-start"
                >
                  <i class="el-icon-warning-outline" circle />
                </el-tooltip>
              </el-form-item>
            </el-form>

            <el-button
              type="primary"
              icon="el-icon-plus"
              @click="addAnggota()"
              style="margin-bottom:10px"
            >Add</el-button>

            <el-table :data="listAnggota" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="No Identitas (NIDN/NIM)" min-width="180">
                <template slot-scope="{row}">{{row.identitas}}</template>
              </el-table-column>

              <el-table-column label="Nama Anggota" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>

              <el-table-column label="Aksi" width="180">
                <template slot-scope="scope">
                  <el-button size="small" type="danger" @click="deleteAnggota(scope.$index)">Delete</el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>

        <!-------------------------------- STEP 2 ---------------------------------------->
        <div v-if="active === 2">
          <!-- Sumber Pendanaan -->
          <div>
            <h3>Sumber Pendanaan</h3>
            <hr />
            <el-form
              ref="dataForm"
              label-position="top"
              label-width="100px"
              :disabled="pageDisable"
              style="width: 80%;"
            >
              <el-form-item label="Jenis Sumber Dana" label-position="top">
                <el-select v-model="tempDana.item.id" placeholder="Please select">
                  <el-option
                    v-for="item in comboDana"
                    :key="item.id"
                    :label="item.dana"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>

              <el-form-item label="Nama Sumber Dana" label-position="top">
                <el-input v-model="tempDana.name" />
              </el-form-item>

              <el-form-item label="Jumlah Dana" label-position="top">
                <el-input type="number" v-model="tempDana.jumlah" />
              </el-form-item>
            </el-form>

            <el-button
              type="primary"
              icon="el-icon-plus"
              @click="addDana()"
              style="margin-bottom:10px"
            >Add</el-button>

            <el-table :data="listPendanaan" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Sumber Pendanaan" min-width="180">
                <template slot-scope="{row}">{{row.jenis}}</template>
              </el-table-column>

              <el-table-column label="Nama Pendanaan" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>
              <el-table-column label="Jumlah Dana" min-width="180">
                <template slot-scope="{row}">{{row.jumlah}}</template>
              </el-table-column>

              <el-table-column label="Aksi" width="180">
                <template slot-scope="scope">
                  <el-button size="small" type="danger" @click="deleteDana(scope.$index)">Delete</el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
          <!-- Sumber Daya Iptek -->
          <div>
            <h3 style="margin-top:25px">Sumber Daya Iptek yang Telah Diterapkan</h3>
            <hr />
            <el-form
              ref="dataForm"
              label-position="top"
              label-width="100px"
              :disabled="pageDisable"
              style="width: 80%;"
            >
              <el-form-item label="Jenis Sumber Daya Iptek" label-position="top">
                <el-select v-model="tempIptek.item.id" placeholder="Please select">
                  <el-option
                    v-for="item in comboIptek"
                    :key="item.id"
                    :label="item.iptek"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>

              <el-form-item label="Nama Sumber Iptek" label-position="top">
                <el-input v-model="tempIptek.name" />
              </el-form-item>
            </el-form>

            <el-button
              type="primary"
              icon="el-icon-plus"
              @click="addIptek()"
              style="margin-bottom:10px"
            >Add</el-button>

            <el-table :data="listIptek" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Sumber Daya Iptek" min-width="180">
                <template slot-scope="{row}">{{row.jenis}}</template>
              </el-table-column>

              <el-table-column label="Nama Iptek" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>

              <el-table-column label="Aksi" width="180">
                <template slot-scope="scope">
                  <el-button size="small" type="danger" @click="deleteIptek(scope.$index)">Delete</el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>

        <!-------------------------------- STEP 3 ---------------------------------------->
        <div v-if="active === 3">
          <div>
            <h3>Publikasi Hasil Abdimas</h3>
            <hr />
            <el-form
              ref="dataForm"
              label-position="top"
              label-width="100px"
              :disabled="pageDisable"
              style="width: 80%;"
            >
              <el-form-item label="Jenis Publikasi" label-position="top">
                <el-select v-model="tempPublikasi.item.id" placeholder="Please select">
                  <el-option
                    v-for="item in comboPublikasi"
                    :key="item.id"
                    :label="item.publikasi"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>

              <el-form-item label="Nama Publikasi" label-position="top">
                <el-input v-model="tempPublikasi.name" />
              </el-form-item>
            </el-form>

            <el-button
              type="primary"
              icon="el-icon-plus"
              @click="addPublikasi()"
              style="margin-bottom:10px"
            >Add</el-button>

            <el-table :data="listPublikasi" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Publikasi" min-width="180">
                <template slot-scope="{row}">{{row.jenis}}</template>
              </el-table-column>

              <el-table-column label="Nama Publikasi" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>

              <el-table-column label="Aksi" width="180">
                <template slot-scope="scope">
                  <el-button
                    size="small"
                    type="danger"
                    @click="deletePublikasi(scope.$index)"
                  >Delete</el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
          <div>
            <h3>Buku BerISBN</h3>
            <hr />
            <el-form
              ref="dataForm"
              label-position="top"
              label-width="100px"
              :disabled="pageDisable"
              style="width: 80%;"
            >
              <el-form-item label="Kode ISBN Buku" label-position="top">
                <el-input v-model="tempBuku.isbn" />
              </el-form-item>

              <el-form-item label="Judul Buku" label-position="top">
                <el-input v-model="tempBuku.name" />
              </el-form-item>
            </el-form>

            <el-button
              type="primary"
              icon="el-icon-plus"
              @click="addBuku()"
              style="margin-bottom:10px"
            >Add</el-button>

            <el-table :data="listBuku" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Kode ISBN" min-width="180">
                <template slot-scope="{row}">{{row.isbn}}</template>
              </el-table-column>

              <el-table-column label="Judul Buku" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>

              <el-table-column label="Aksi" width="180">
                <template slot-scope="scope">
                  <el-button size="small" type="danger" @click="deleteBuku(scope.$index)">Delete</el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>

        <!-------------------------------- STEP 4 ---------------------------------------->
        <div v-if="active === 4">
          <div>
            <h3>Mitra</h3>
            <hr />
            <el-form
              ref="dataForm"
              label-position="top"
              label-width="100px"
              :disabled="pageDisable"
              style="width: 80%;"
            >
              <el-form-item label="Jenis Mitra" label-position="top">
                <el-select v-model="tempMitra.item.id" placeholder="Please select">
                  <el-option
                    v-for="item in comboMitra"
                    :key="item.id"
                    :label="item.mitra"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>

              <el-form-item label="Nama Perusahaan" label-position="top">
                <el-input v-model="tempMitra.name" />
              </el-form-item>
              <el-form-item label="Alamat Perusahaan" label-position="top">
                <el-input type="textarea" v-model="tempMitra.alamat" />
              </el-form-item>
              <el-form-item label="Product Mitra" label-position="top">
                <el-input v-model="tempMitra.product" />
              </el-form-item>
              <el-form-item label="Asset Mitra" label-position="top">
                <el-input v-model="tempMitra.asset" />
              </el-form-item>
              <el-form-item label="Omset Perusahaan" label-position="top">
                <el-input type="number" v-model="tempMitra.omset" />
              </el-form-item>
              <el-form-item label="Jumlah Karyawan" label-position="top">
                <el-input type="number" v-model="tempMitra.jumlah_karyawan" />
              </el-form-item>
              <el-form-item label="Bidang Mitra" label-position="top">
                <el-input v-model="tempMitra.bidang" />
              </el-form-item>
            </el-form>

            <!-- <el-button
              type="primary"
              icon="el-icon-plus"
              @click="addMitra()"
              style="margin-bottom:10px"
            >Add</el-button>-->

            <!-- <el-table :data="listMitra" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Mitra" min-width="180">
                <template slot-scope="{row}">{{row.jenis}}</template>
              </el-table-column>

              <el-table-column label="Nama Mitra" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>

              <el-table-column label="Aksi" width="180">
                <template slot-scope="scope">
                  <el-button size="small" type="danger" @click="deleteMitra(scope.$index)">Delete</el-button>
                </template>
              </el-table-column>
            </el-table>-->
            <br />
            <br />
          </div>
          <div>
            <h3>HKI, Produk dan Kemitraan hasil Kegiata Abdimas(output)</h3>
            <hr />
            <el-form
              ref="dataForm"
              label-position="top"
              label-width="100px"
              :disabled="pageDisable"
              style="width: 80%;"
            >
              <el-form-item label="Jenis Mitra Output" label-position="top">
                <el-select v-model="tempMitraOutput.item.id" placeholder="Please select">
                  <el-option
                    v-for="item in comboMitraOutput"
                    :key="item.id"
                    :label="item.mitra"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>

              <el-form-item label="Nama Mitra Output" label-position="top">
                <el-input v-model="tempMitraOutput.name" />
              </el-form-item>
            </el-form>

            <el-button
              type="primary"
              icon="el-icon-plus"
              @click="addMitraOutput()"
              style="margin-bottom:10px"
            >Add</el-button>

            <el-table :data="listMitraOutput" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Mitra Output" min-width="180">
                <template slot-scope="{row}">{{row.jenis}}</template>
              </el-table-column>

              <el-table-column label="Nama Mitra Output" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>

              <el-table-column label="Aksi" width="180">
                <template slot-scope="scope">
                  <el-button
                    size="small"
                    type="danger"
                    @click="deleteMitraOutput(scope.$index)"
                  >Delete</el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <!-------------------------------- STEP 5 ---------------------------------------->
        <div v-if="active === 5">
          <div>
            <h3>Luaran Iptek Lainnya hasil Kegiatan Abdimas(output)</h3>
            <hr />
            <el-form
              ref="dataForm"
              label-position="top"
              label-width="100px"
              :disabled="pageDisable"
              style="width: 80%;"
            >
              <el-form-item label="Typical Luaran" label-position="top">
                <el-select v-model="tempTypical.item.id" placeholder="Please select">
                  <el-option
                    v-for="item in comboTypical"
                    :key="item.id"
                    :label="item.typical"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>

              <el-form-item label="Nama Typical" label-position="top">
                <el-input v-model="tempTypical.name" />
              </el-form-item>
            </el-form>

            <el-button
              type="primary"
              icon="el-icon-plus"
              @click="addTypical()"
              style="margin-bottom:10px"
            >Add</el-button>

            <el-table :data="listTypical" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Typical / Luaran" min-width="180">
                <template slot-scope="{row}">{{row.typical}}</template>
              </el-table-column>

              <el-table-column label="Nama Typical / Luaran" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>

              <el-table-column label="Aksi" width="180">
                <template slot-scope="scope">
                  <el-button
                    size="small"
                    type="danger"
                    @click="deleteMitraOutput(scope.$index)"
                  >Delete</el-button>
                </template>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <!-------------------------------- STEP 6 ---------------------------------------->
        <div v-if="active === 6">
          <div>
            <el-form
              ref="dataForm"
              label-position="top"
              label-width="100px"
              :disabled="pageDisable"
              style="width: 80%;"
            >
              <el-form-item label="Bisnis Unit" label-position="top">
                <el-select v-model="tempRevenue.item.id" placeholder="Please select">
                  <el-option
                    v-for="item in comboBisnisUnit"
                    :key="item.id"
                    :label="item.unit_bisnis"
                    :value="item.id"
                  />
                </el-select>
              </el-form-item>
              <el-form-item label="Nama Karya" label-position="top">
                <el-input v-model="tempRevenue.name" />
              </el-form-item>

              <el-form-item label="Jenis Royalty" label-position="top">
                <el-input v-model="tempRevenue.jenis_royalty" />
              </el-form-item>

              <el-form-item label="Jumlah Royalty (/thn)" label-position="top">
                <el-input type="number" v-model="tempRevenue.jumlah_royalty" />
              </el-form-item>
            </el-form>
          </div>
        </div>

        <!-------------------------------- STEP 6 ---------------------------------------->
        <div v-if="active === 7">
          <div>
            <el-form
              ref="dataForm"
              label-position="top"
              label-width="100px"
              :disabled="pageDisable"
              style="width: 80%;"
            >
              <el-form-item label="Judul Proposal" label-position="top">
                <el-input v-model="abdimas.judul_proposal" />
              </el-form-item>
            </el-form>

            <input
              type="file"
              class="form-control"
              accept=".pdf"
              v-if="reload"
              @change="uploadPdf($event)"
              id="file-input"
            />
          </div>
        </div>

        <!-------------------------------- STEP  ----8------------------------------------>
        <div v-if="active === 8" v-loading="loading.generate">
          <div>
            <!-- data Dosen -->
            <table valign="top" class="dosen">
              <tr class="deskripsi">
                <td class="side">Kode Pengabdian</td>
                <td>
                  <span>{{this.abdimas.kode_pengabdian}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Tahun</td>
                <td>
                  <span>{{this.abdimas.tahun}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Prodi</td>
                <td>
                  <span>{{this.abdimas.nama_prodi}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">NIDN</td>
                <td>
                  <span>{{this.tempDosen.nidn}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Nama</td>
                <td>
                  <span>{{this.tempDosen.name}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Pangkat</td>
                <td>
                  <span>{{this.tempDosen.pangkat}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side" valign="top">Pendidikan</td>
                <td>
                  <div>
                    <p
                      v-for="item in this.tempDosen.pendidikan"
                      :key="item.id"
                    >{{item.tingkat + ':'+item.univ+' ['+item.jurusan+']'}}</p>
                  </div>
                </td>
              </tr>
            </table>
            <br />
            <!-- data anggota -->
            <el-table
              :data="listAnggota"
              border
              style="width: 100%"
              v-if="this.listAnggota.length > 0"
            >
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="No Identitas (NIDN/NIM)" min-width="180">
                <template slot-scope="{row}">{{row.identitas}}</template>
              </el-table-column>

              <el-table-column label="Nama Anggota" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>
            </el-table>
            <br />
            <!-- data Pendanaan -->
            <el-table
              :data="listPendanaan"
              border
              style="width: 100%"
              v-if="this.listPendanaan.length > 0"
            >
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Sumber Daya Iptek" min-width="180">
                <template slot-scope="{row}">{{row.jenis}}</template>
              </el-table-column>

              <el-table-column label="Nama Iptek" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>
            </el-table>
            <br />
            <!-- data iptek terapkan -->
            <el-table :data="listIptek" border style="width: 100%" v-if="this.listIptek.length > 0">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Sumber Daya Iptek" min-width="180">
                <template slot-scope="{row}">{{row.jenis}}</template>
              </el-table-column>

              <el-table-column label="Nama Iptek" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>
            </el-table>
            <br />
            <!-- data publikasi -->
            <el-table
              :data="listPublikasi"
              border
              style="width: 100%"
              v-if="this.listPublikasi.length > 0"
            >
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Publikasi" min-width="180">
                <template slot-scope="{row}">{{row.jenis}}</template>
              </el-table-column>

              <el-table-column label="Nama Publikasi" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>
            </el-table>
            <br />
            <!-- data buku -->
            <el-table :data="listBuku" border style="width: 100%" v-if="this.listBuku.length > 0">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Kode ISBN" min-width="180">
                <template slot-scope="{row}">{{row.isbn}}</template>
              </el-table-column>

              <el-table-column label="Judul Buku" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>
            </el-table>
            <br />
            <table valign="top" class="dosen" v-if="this.tempMitra.item.id !== ''">
              <tr class="deskripsi">
                <td class="side">Jenis Mitra</td>
                <td>
                  <span>{{this.tempMitra.item.mitra}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Nama Mitra</td>
                <td>
                  <span>{{this.tempMitra.name}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Alamat</td>
                <td>
                  <span>{{this.tempMitra.alamat}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Product</td>
                <td>
                  <span>{{this.tempMitra.product}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Asset</td>
                <td>
                  <span>{{this.tempMitra.asset}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Omset</td>
                <td>
                  <span>{{this.tempMitra.omset}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Jumlah Karyawan</td>
                <td>
                  <span>{{this.tempMitra.jumlah_karyawan}}</span>
                </td>
              </tr>
              <!-- <tr class="deskripsi">
                <td class="side">Bidang Mitra</td>
                <td>
                  <span>{{this.tempMitra.bidang}}</span>
                </td>
              </tr>-->
            </table>
            <br />
            <!-- data mitra output -->
            <el-table
              :data="listMitraOutput"
              border
              style="width: 100%"
              v-if="this.listMitraOutput.length > 0"
            >
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Mitra Output" min-width="180">
                <template slot-scope="{row}">{{row.jenis}}</template>
              </el-table-column>

              <el-table-column label="Nama Mitra Output" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>
            </el-table>
            <br />
            <!-- data typical -->
            <el-table
              :data="listTypical"
              border
              style="width: 100%"
              v-if="this.listTypical.length > 0"
            >
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Typical / Luaran" min-width="180">
                <template slot-scope="{row}">{{row.typical}}</template>
              </el-table-column>

              <el-table-column label="Nama Typical / Luaran" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>
            </el-table>
            <br />
            <!-- data revenue -->
            <table valign="top" class="dosen" v-if="this.tempRevenue.name !== ''">
              <tr class="deskripsi">
                <td class="side">Bisnis Unit</td>
                <td>
                  <span>{{this.tempRevenue.name}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Nama Karya</td>
                <td>
                  <span>{{this.tempRevenue.name}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Jenis Royalty</td>
                <td>
                  <span>{{this.tempRevenue.jenis_royalty}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Jumlah Royalty</td>
                <td>
                  <span>{{this.tempRevenue.jumlah_royalty}}</span>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="box-footer">
        <el-button
          type="primary"
          icon="el-icon-arrow-left"
          @click="prev()"
          v-if="active > 1"
        >Sebelumnya</el-button>
        <el-button type="primary" @click="next()" v-if="active < 7" style="float:right">
          Berikutnya
          <i class="el-icon-arrow-right"></i>
        </el-button>
        <el-button
          type="primary"
          @click="generateConfirmationPage()"
          v-if="active === 7"
          style="float:right"
        >
          Berikutnya
          <i class="el-icon-arrow-right"></i>
        </el-button>
        <el-button type="primary" @click="submit()" v-if="active === 8" style="float:right">
          <i class="fa fa-save"></i>
          Ajukan
        </el-button>
      </div>
    </div>
  </section>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  data() {
    return {
      active: 1,
      loading: {
        ddDosen: false,
        deskripsi: false,
        generate: false
      },
      reload: true,
      tabs: [
        "Asepk SDM Abdimas",
        "Aspek Sumber Daya & Pendanaan",
        "Publikasi dan Buku",
        "Aspek Luaran Mitra",
        "Typical Output",
        "Aspek Revenue Generating"
      ],
      tooltip: {
        status_anggota:
          "Harap memilih status anggota terlebih dahulu memilih anggota",
        anggota:
          "Jika anggota anda tidak ada, anda dapat menambahkannya dengan menekan tombol"
      },
      pageDisable: false,
      //   combo box variable
      comboProdi: [],
      comboYear: [],
      comboAnggota: [
        {
          id: 1,
          text: "Dosen"
        },
        {
          id: 2,
          text: "Mahasiswa"
        }
      ],
      comboDosen: [],
      comboSemester: [],
      comboMahasiswa: [],
      comboDana: [],
      comboIptek: [],
      comboPublikasi: [],
      comboMitra: [],
      comboMitraOutput: [],
      comboTypical: [],
      comboBisnisUnit: [],
      comboRoyalty: [],
      //   tempVariable
      tempDosen: {
        id: "",
        keyword: ""
      },
      tempAnggota: {
        id: "",
        status: ""
      },
      tempDana: {
        item: {
          id: "",
          jenis: "",
          bobot: ""
        },
        name: "",
        jumlah: 0
      },
      tempIptek: {
        item: {
          id: "",
          iptek: "",
          bobot: ""
        },
        name: ""
      },
      tempPublikasi: {
        item: {
          id: "",
          publikasi: "",
          bobot: ""
        },
        name: ""
      },
      tempBuku: {
        isbn: "",
        name: "",
        tahun: "",
        penerbit: ""
      },
      tempMitra: {
        item: {
          id: "",
          mitra: "",
          bobot: ""
        },
        name: "",
        alamat: "",
        product: "",
        asset: "",
        omset: "",
        jumlah_karyawan: "",
        bidang: ""
      },
      tempMitraOutput: {
        item: {
          id: "",
          mitra: "",
          bobot: ""
        },
        name: ""
      },
      tempTypical: {
        item: {
          id: "",
          typical: "",
          bobot: ""
        },
        name: ""
      },
      tempRevenue: {
        item: {
          id: "",
          revenue: "",
          bobot: ""
        },
        name: "",
        jenis_royalty: "",
        jumlah_royalty: 0
      },
      //   list Variable
      listAnggota: [],
      listPendanaan: [],
      listIptek: [],
      listPublikasi: [],
      listBuku: [],
      listMitra: [],
      listMitraOutput: [],
      listTypical: [],
      //   inputVariable
      abdimas: {
        judul: "",
        prodi: "",
        bidang: "",
        dosen: "",
        semester: "",
        kode_pengabdian: "",
        total: "",
        tahun: "",
        judul_proposal: "",
        file: null,
        approval: "SUBMITED"
      }
    };
  },
  created() {
    this.generateComboYear();
    this.ddSemesters().then(() => {
      this.comboSemester = this.$store.state.semester.ddSemesters;
    });
    this.ddProdis().then(() => {
      this.comboProdi = this.$store.state.prodi.ddProdis;
    });
    this.ddDanas().then(result => {
      this.comboDana = this.$store.state.dana.ddDanas;
    });
    this.ddIpteks().then(result => {
      this.comboIptek = this.$store.state.iptek.ddIpteks;
    });
    this.ddPublikasis().then(result => {
      this.comboPublikasi = this.$store.state.publikasi.ddPublikasis;
    });
    this.ddMitras().then(result => {
      this.comboMitra = this.$store.state.mitra.ddMitras;
    });
    this.ddMitras().then(result => {
      this.comboMitra = this.$store.state.mitra.ddMitras;
    });
    this.ddMitraOutputs().then(result => {
      this.comboMitraOutput = this.$store.state.mitraOutput.ddMitraOutputs;
    });
    this.ddTypicals().then(result => {
      this.comboTypical = this.$store.state.typical.ddTypicals;
    });
    this.ddUnitBisnies().then(result => {
      this.comboBisnisUnit = this.$store.state.unitBisnis.ddUnitBisnies;
    });
    this.getDropdownDosen();
    this.getDropdownMahasiswa();
  },
  computed: {
    // ...mapState("prodi", {
    //   comboProdi: state => state.prodis
    // })
  },
  methods: {
    ...mapActions("prodi", ["ddProdis"]),
    ...mapActions("dosen", ["ddDosens", "findDosens"]),
    ...mapActions("semester", ["ddSemesters"]),
    ...mapActions("dana", ["ddDanas"]),
    ...mapActions("iptek", ["ddIpteks"]),
    ...mapActions("publikasi", ["ddPublikasis"]),
    ...mapActions("mitra", ["ddMitras"]),
    ...mapActions("mitraOutput", ["ddMitraOutputs"]),
    ...mapActions("typical", ["ddTypicals"]),
    ...mapActions("unitBisnis", ["ddUnitBisnies"]),
    ...mapActions("mahasiswa", ["ddMahasiswas"]),
    ...mapActions("pengajuan", ["addPengajuans", "generateCodePengajuan"]),

    getDropdownDosen(query) {
      this.ddDosens(query).then(() => {
        this.comboDosen = this.$store.state.dosen.ddDosens;
      });
    },

    getDropdownMahasiswa(query) {
      this.ddMahasiswas(query).then(() => {
        this.comboMahasiswa = this.$store.state.mahasiswa.ddMahasiswas;
      });
    },

    getDosen() {
      this.loading.deskripsi = true;
      this.findDosens(this.abdimas.dosen).then(() => {
        this.tempDosen = this.$store.state.dosen.dosens;
        this.loading.deskripsi = false;
      });
    },

    addAnggota() {
      if (this.tempAnggota.status === 1) {
        const item = this.comboDosen.find(
          list => list.id === this.tempAnggota.id
        );

        this.listAnggota.push({
          id: item.id,
          status: "dosen",
          identitas: item.nidn,
          name: item.name
        });
      } else {
        const item = this.comboMahasiswa.find(
          list => list.id === this.tempAnggota.id
        );

        this.listAnggota.push({
          id: item.id,
          status: "mahasiswa",
          identitas: item.nrp,
          name: item.name
        });
      }
      this.tempAnggota = {
        id: "",
        status: ""
      };
    },

    deleteAnggota(index) {
      this.listAnggota.splice(index, 1);
    },

    //----------------------------------- Sumber Pendanaan -------------------------------
    addDana() {
      if (this.tempDana.item.id != "") {
        const item = this.comboDana.find(
          list => list.id === this.tempDana.item.id
        );
        this.listPendanaan.push({
          id: item.id,
          jenis: item.dana,
          bobot: item.bobot,
          name: this.tempDana.name,
          jumlah: this.tempDana.jumlah
        });
      }
      this.tempDana.item.id = "";
      this.tempDana.name = "";
      this.tempDana.jumlah = 0;
    },

    deleteDana(index) {
      this.listPendanaan.splice(index, 1);
    },
    //----------------------------------- Sumber Daya Iptek -------------------------------
    addIptek() {
      if (this.tempIptek.item.id != "") {
        const item = this.comboIptek.find(
          list => list.id === this.tempIptek.item.id
        );
        this.listIptek.push({
          id: item.id,
          jenis: item.iptek,
          bobot: item.bobot,
          name: this.tempIptek.name
        });
      }
      this.tempIptek.item.id = "";
      this.tempIptek.name = "";
    },

    deleteIptek(index) {
      this.listIptek.splice(index, 1);
    },
    //------------------------------------- Publikasi --------------------------------------
    addPublikasi() {
      if (
        this.tempPublikasi.item.id !== "" ||
        this.tempPublikasi.item.id !== null
      ) {
        const item = this.comboPublikasi.find(
          list => list.id === this.tempPublikasi.item.id
        );
        this.listPublikasi.push({
          id: item.id,
          jenis: item.publikasi,
          bobot: item.bobot,
          name: this.tempPublikasi.name
        });
      }
      this.tempPublikasi.item.id = "";
      this.tempPublikasi.name = "";
    },

    deletePublikasi(index) {
      this.listPublikasi.splice(index, 1);
    },
    //------------------------------------- Buku --------------------------------------
    addBuku() {
      if (this.tempBuku.isbn !== "") {
        this.listBuku.push({
          isbn: this.tempBuku.isbn,
          name: this.tempBuku.name,
          bobot: 3
        });
        this.tempBuku.isbn = "";
        this.tempBuku.name = "";
      }
      this.tempBuku.isbn = "";
      this.tempBuku.name = "";
    },

    deleteBuku(index) {
      this.listBuku.splice(index, 1);
    },

    //------------------------------------- Mitra --------------------------------------
    addMitra() {
      if (this.tempMitra.item.id !== "" || this.tempMitra.item.id !== null) {
        const item = this.comboMitra.find(
          list => list.id === this.tempMitra.item.id
        );
        this.listMitra.push({
          id: item.id,
          jenis: item.mitra,
          bobot: item.bobot,
          name: this.tempMitra.name
        });
      }
      this.tempMitra.item.id = "";
      this.tempMitra.name = "";
    },

    deleteMitra(index) {
      this.listMitra.splice(index, 1);
    },

    //------------------------------------- Mitra Output --------------------------------------
    addMitraOutput() {
      if (
        this.tempMitraOutput.item.id !== "" ||
        this.tempMitraOutput.item.id !== null
      ) {
        const item = this.comboMitraOutput.find(
          list => list.id === this.tempMitraOutput.item.id
        );
        this.listMitraOutput.push({
          id: item.id,
          jenis: item.mitra,
          bobot: item.bobot,
          name: this.tempMitraOutput.name
        });
      }
      this.tempMitraOutput.item.id = "";
      this.tempMitraOutput.name = "";
    },

    deleteMitraOutput(index) {
      this.listMitraOutput.splice(index, 1);
    },

    //------------------------------------- Typical --------------------------------------
    addTypical() {
      if (
        this.tempTypical.item.id !== "" ||
        this.tempTypical.item.id !== null
      ) {
        const item = this.comboTypical.find(
          list => list.id === this.tempTypical.item.id
        );
        this.listTypical.push({
          id: item.id,
          typical: item.typical,
          bobot: item.bobot,
          name: this.tempTypical.name
        });
      }
      this.tempTypical.item.id = "";
      this.tempTypical.name = "";
    },

    deleteMitraOutput(index) {
      this.tempTypical.splice(index, 1);
    },
    //----------------------------------- END PRIMARY FUNC --------------------------------------
    getDate() {
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1;

      var yyyy = today.getFullYear();
      if (dd < 10) {
        dd = "0" + dd;
      }
      if (mm < 10) {
        mm = "0" + mm;
      }
      return yyyy + "-" + mm + "-" + dd;
    },

    getDateTime() {
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //January is 0!

      var hh = today.getHours();
      var i = today.getMinutes();
      var s = today.getSeconds();

      var yyyy = today.getFullYear();
      if (dd < 10) {
        dd = "0" + dd;
      }
      if (mm < 10) {
        mm = "0" + mm;
      }
      return yyyy + "-" + mm + "-" + dd + " " + hh + ":" + i + ":" + s;
    },

    generateComboYear() {
      var today = new Date();
      var tahun = today.getFullYear();
      for (let index = tahun; index >= 2000; index--) {
        this.comboYear.push(index);
      }
    },

    generateCode() {
      var today = new Date();
      var count = 0;
      this.generateCodePengajuan(this.abdimas.dosen).then(result => {
        count = result;
        var tahun = today.getFullYear();
        var month = today.getMonth() + 1;

        const prodi = this.comboProdi.find(el => el.id === this.abdimas.prodi);
        const dosen = this.comboDosen.find(el => el.id === this.abdimas.dosen);
        const mitra = this.comboMitra.find(
          el => el.id === this.tempMitra.item.id
        );

        if (this.tempMitra.item.mitra !== "") {
          this.tempMitra.item.mitra = mitra.mitra;
          this.tempMitra.item.bobot = mitra.bobot;
        }

        this.abdimas.nama_prodi = prodi.nama_prodi;
        this.abdimas.kode_pengabdian =
          prodi.kode_nama +
          "/" +
          tahun +
          "/" +
          month +
          "/NIDN/" +
          dosen.nidn +
          "/" +
          count;
        this.loading.generate = false;
      });
    },

    countTotal() {
      var total = 0;

      this.listPendanaan.map(x => (total = total + parseFloat(x.bobot)));
      this.listIptek.map(x => (total = total + parseFloat(x.bobot)));
      this.listPublikasi.map(x => (total = total + parseFloat(x.bobot)));
      //   this.listMitra.map(x => (total = total + parseFloat(x.bobot)));
      total = total + parseFloat(this.tempMitra.item.bobot);
      this.listMitraOutput.map(x => (total = total + parseFloat(x.bobot)));
      this.listTypical.map(x => (total = total + parseFloat(x.bobot)));

      this.abdimas.total = total;
    },

    uploadPdf(event) {
      this.abdimas.file = event.target.files[0];
    },

    clearForm() {
      this.abdimas = {
        judul: "",
        prodi: "",
        bidang: "",
        dosen: "",
        kode_pengabdian: "",
        total: "",
        tahun: "",
        judul_proposal: "",
        approval: ""
      };
      this.reload = false;
      this.$nextTick(() => {
        this.reload = true;
      });
    },

    generateConfirmationPage() {
      this.active += 1;
      this.tempMitra.item = this.comboMitra.find(
        x => x.id === this.tempMitra.item.id
      );
      window.scrollTo(0, 0);
      this.loading.generate = true;
      this.countTotal();
      this.generateCode();
    },

    submit() {
      //   const revenue_generating = {
      //     bisnis_unit: this.tempRevenue.item.id,
      //     name: this.tempRevenue.name,
      //     jenis_royalty: this.tempRevenue.jenis_royalty,
      //     jumlah_royalty: this.tempRevenue.jumlah_royalty
      //   };

      //   var pengajuan = {
      //     kode_pengabdian: this.abdimas.kode_pengabdian,
      //     tahun: this.abdimas.tahun,
      //     kode_prodi: this.abdimas.prodi,
      //     dosen: this.abdimas.dosen,
      //     total: this.abdimas.total,

      //     user: this.$store.state.auth.userId,
      //     approval: this.abdimas.approval,

      //     anggota: this.listAnggota,
      //     dana: this.listPendanaan,
      //     iptek: this.listIptek,
      //     publikasi: this.listPublikasi,
      //     buku: this.listBuku,
      //     mitra: this.listMitra,
      //     mitra_output: this.listMitraOutput,
      //     typical: this.listTypical,
      //     revenue: revenue_generating
      //   };

      let form = new FormData();
      form.append("judul", this.abdimas.judul);
      form.append("kode_pengabdian", this.abdimas.kode_pengabdian);
      form.append("bidang", this.abdimas.bidang);
      form.append("tahun", this.abdimas.tahun);
      form.append("semester", this.abdimas.semester);
      form.append("kode_prodi", this.abdimas.prodi);
      form.append("dosen", this.abdimas.dosen);
      form.append("total", this.abdimas.total);
      form.append("user", this.$store.state.auth.userId);
      form.append("approval", this.abdimas.approval);
      form.append("judul_proposal", this.abdimas.judul_proposal);
      form.append("file", this.abdimas.file);

      this.listAnggota.forEach((anggota, i) => {
        form.append(`anggota[${i}][id]`, anggota.id);
        form.append(`anggota[${i}][status]`, anggota.status);
      });

      this.listPendanaan.forEach((dana, i) => {
        form.append(`dana[${i}][id]`, dana.id);
        form.append(`dana[${i}][name]`, dana.name);
        form.append(`dana[${i}][jumlah]`, dana.jumlah);
      });

      this.listIptek.forEach((iptek, i) => {
        form.append(`iptek[${i}][id]`, iptek.id);
        form.append(`iptek[${i}][name]`, iptek.name);
      });

      this.listPublikasi.forEach((publikasi, i) => {
        form.append(`publikasi[${i}][id]`, publikasi.id);
        form.append(`publikasi[${i}][name]`, publikasi.name);
      });

      this.listBuku.forEach((buku, i) => {
        form.append(`buku[${i}][isbn]`, buku.isbn);
        form.append(`buku[${i}][name]`, buku.name);
      });

      // this.listMitra.forEach((mitra, i) => {
      //   form.append(`mitra[${i}][id]`, mitra.id);
      //   form.append(`mitra[${i}][name]`, mitra.name);
      // });
      if (this.tempMitra.item.id !== "") {
        form.append(`mitra[0][id]`, this.tempMitra.item.id);
        form.append(`mitra[0][name]`, this.tempMitra.name);
        form.append(`mitra[0][alamat]`, this.tempMitra.alamat);
        form.append(`mitra[0][product]`, this.tempMitra.product);
        form.append(`mitra[0][asset]`, this.tempMitra.asset);
        form.append(`mitra[0][omset]`, this.tempMitra.omset);
        form.append(
          `mitra[0][jumlah_karyawan]`,
          this.tempMitra.jumlah_karyawan
        );
      }

      this.listMitraOutput.forEach((mitra_output, i) => {
        form.append(`mitra_output[${i}][id]`, mitra_output.id);
        form.append(`mitra_output[${i}][name]`, mitra_output.name);
      });

      this.listTypical.forEach((typical, i) => {
        form.append(`typical[${i}][id]`, typical.id);
        form.append(`typical[${i}][name]`, typical.name);
      });

      if (this.tempRevenue.item.id !== "") {
        form.append(`revenue[0][bisnis_unit]`, this.tempRevenue.item.id);
        form.append(`revenue[0][name]`, this.tempRevenue.name);
        form.append(
          `revenue[0][jenis_royalty]`,
          this.tempRevenue.jenis_royalty
        );
        form.append(
          `revenue[0][jumlah_royalty]`,
          this.tempRevenue.jumlah_royalty
        );
      }

      //   console.log(pengajuan);

      this.addPengajuans(form).then(() => {
        this.$notify({
          title: "Success",
          message: "Create Successfully",
          type: "success"
        });
        this.$router.push({ name: "home" });
      });
    },

    next() {
      this.active += 1;
      window.scrollTo(0, 0);
    },

    prev() {
      this.active -= 1;
      window.scrollTo(0, 0);
    }
  }
};
</script>

<style>
.dosen td {
  padding: 5px 0px 5px 0px;
}
.deskripsi {
  font-size: 15px;
}
.deskripsi .side {
  width: 150px;
  font-weight: bold;
}
.el-form-item {
  margin-bottom: 10px !important;
}
.el-form-item__label {
  padding: 0px !important;
}

.el-select {
  width: 80% !important;
}
</style>
