<template>
  <!-- Main content -->
  <section class="content" v-loading="loading">
    <!-- Default box -->
    <div class="box">
      <div class="box-body">
        <!-- {{this.pengajuan}} -->
        <div>
          <div>
            <!-- data Dosen -->

            <table valign="top" class="dosen">
              <tr class="deskripsi">
                <td class="side">Kode Pengabdian</td>
                <td>
                  <span>{{this.pengajuan.kode_pengabdian}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Tahun</td>
                <td>
                  <span>{{this.pengajuan.tahun}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Prodi</td>
                <td>
                  <span>{{this.pengajuan.nama_prodi}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">NIDN</td>
                <td>
                  <span>{{this.pengajuan.nidn}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Nama</td>
                <td>
                  <span>{{this.pengajuan.name}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Pangkat</td>
                <td>
                  <span>{{this.pengajuan.pangkat}}</span>
                </td>
              </tr>
              <!-- <tr class="deskripsi">
                <td class="side" valign="top">Pendidikan</td>
                <td>
                  <div>
                    <p
                      v-for="item in this.tempDosen.pendidikan"
                      :key="item.id"
                    >{{item.tingkat + ':'+item.univ+' ['+item.jurusan+']'}}</p>
                  </div>
                </td>
              </tr>-->
            </table>
            <br />
            <el-button type="primary" size="mini" @click="viewPdf(pengajuan.proposal)">View PDF</el-button>
            <br />
            <br />
            <!-- data anggota -->
            <el-table :data="pengajuan.anggota" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="No Identitas (NIDN/NIM)" min-width="180">
                <template slot-scope="{row}">{{row.identitas}}</template>
              </el-table-column>

              <el-table-column label="Nama Anggota" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>
            </el-table>
            <br />
            <!-- data Pendanaan -->
            <el-table :data="pengajuan.dana" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Sumber Pendanaan" min-width="180">
                <template slot-scope="{row}">{{row.dana}}</template>
              </el-table-column>

              <el-table-column label="Nama Pendanaan" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>
            </el-table>
            <br />
            <!-- data iptek terapkan -->
            <el-table :data="pengajuan.iptek" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Sumber Daya Iptek" min-width="180">
                <template slot-scope="{row}">{{row.iptek}}</template>
              </el-table-column>

              <el-table-column label="Nama Iptek" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>
            </el-table>
            <br />
            <!-- data publikasi -->
            <el-table :data="pengajuan.publikasi" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Publikasi" min-width="180">
                <template slot-scope="{row}">{{row.publikasi}}</template>
              </el-table-column>

              <el-table-column label="Nama Publikasi" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>
            </el-table>
            <br />
            <!-- data buku -->
            <el-table :data="pengajuan.buku" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Kode ISBN" min-width="180">
                <template slot-scope="{row}">{{row.isbn}}</template>
              </el-table-column>

              <el-table-column label="Judul Buku" min-width="180">
                <template slot-scope="{row}">{{row.judul}}</template>
              </el-table-column>
            </el-table>
            <br />
            <!-- data mitra -->
            <el-table :data="pengajuan.mitra" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Mitra" min-width="180">
                <template slot-scope="{row}">{{row.mitra}}</template>
              </el-table-column>

              <el-table-column label="Nama Mitra" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>
            </el-table>
            <br />
            <!-- data mitra output -->
            <el-table :data="pengajuan.mitra_output" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Mitra Output" min-width="180">
                <template slot-scope="{row}">{{row.mitra}}</template>
              </el-table-column>

              <el-table-column label="Nama Mitra Output" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>
            </el-table>
            <br />
            <!-- data typical -->
            <el-table :data="pengajuan.typical" border style="width: 100%">
              <el-table-column label="No" width="50">
                <template slot-scope="scope">{{scope.$index+1}}</template>
              </el-table-column>

              <el-table-column label="Jenis Typical / Luaran" min-width="180">
                <template slot-scope="{row}">{{row.typical}}</template>
              </el-table-column>

              <el-table-column label="Nama Typical / Luaran" min-width="180">
                <template slot-scope="{row}">{{row.name}}</template>
              </el-table-column>
            </el-table>
            <br />
            <!-- data revenue -->
            <table valign="top" class="dosen">
              <tr class="deskripsi">
                <td class="side">Bisnis Unit</td>
                <td>
                  <span>{{pengajuan.unit_bisnis}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Nama Karya</td>
                <td>
                  <span>{{pengajuan.revenue}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Jenis Royalty</td>
                <td>
                  <span>{{pengajuan.jenis_royalty}}</span>
                </td>
              </tr>
              <tr class="deskripsi">
                <td class="side">Jumlah Royalty</td>
                <td>
                  <span>{{pengajuan.jumlah_royalty}}</span>
                </td>
              </tr>
            </table>

            <div style="float:right;margin-top:50px" v-if="this.pengajuan.status === 'SUBMITED'">
              <el-button type="danger" @click="updateStatus('REJECTED')">Reject</el-button>
              <el-button type="success" @click="updateStatus('APPROVED')">Approve</el-button>
            </div>
          </div>
        </div>
      </div>

      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content-wrapper -->
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";

export default {
  created() {
    this.getView();
    this.temp.id = this.$route.params.id;
  },
  data() {
    return {
      dialogVisible: false,
      deleteFormVisible: false,
      loading: true,
      dialogStatus: "",
      temp: {
        id: "",
        dana: "",
        bobot: 0
      },
      id: 0,
      approval: {
        status: ""
      }
    };
  },
  computed: {
    ...mapState("pengajuan", {
      pengajuan: state => state.pengajuans
    })
  },
  methods: {
    ...mapMutations("approve", ["SET_ID_UPDATE"]),
    ...mapActions("pengajuan", ["viewPengajuans"]),
    ...mapActions("approve", ["updateApproves"]),

    getView() {
      var id = this.$route.params.id;
      this.viewPengajuans(id).then(() => {
        this.loading = false;
      });
    },

    updateStatus(approvals) {
      this.SET_ID_UPDATE(this.temp.id);
      this.approval.status = approvals;
      this.updateApproves(this.approval).then(() => {
        this.$notify({
          title: "Success",
          message: "Update Successfully",
          type: "success"
        });
        this.$router.push({ name: "submited" });
      });
    },

    viewPdf(url) {
      window.open(url);
    }
  }
};
</script>

<style>
.dosen td {
  padding: 5px 0px 5px 0px;
}
.deskripsi {
  font-size: 15px;
}
.deskripsi .side {
  width: 150px;
  font-weight: bold;
}
.el-form-item {
  margin-bottom: 10px !important;
}
.el-form-item__label {
  padding: 0px !important;
}

.el-select {
  width: 80% !important;
}
</style>
